<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)" id="dialogAssociateData"
		widgetVar="dialogAssociateData" resizable="false" responsive="true"
		closable="false" modal="true" appendTo="@(body)"
		header="#{i18n['lbl.complement.associate.data']}" closeOnEscape="true">

		<h:form id="formAssociateData" style="padding: 0">
			<div class="row">
				<p:growl  closable="true" />
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.name']}" />
				<p:inputText value="#{profileController.user.name}" readonly="true" />
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.email']}" />
				<p:inputText value="#{profileController.user.email}" readonly="true" />
			</div>
			<div class="row">
				<div class="col m6 s12 no-padding-left">
					<p:outputLabel value="#{i18n['lbl.cpf']} *" />
					<p:inputText required="true" styleClass="maskCpf"
						value="#{profileController.user.associate.cpf}" maxlength="14"
						requiredMessage="#{messageUtilBean.requiredField('lbl.cpf')}"
						onfocus="aplicarMascarasDefault()">
					</p:inputText>
				</div>
				<div class="col m6 s12 no-padding-right">
					<p:outputLabel value="#{i18n['lbl.registration']} *" />
					<p:inputText
						value="#{profileController.user.associate.registration}"
						maxlength="15" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.registration')}"
						onfocus="aplicarMascarasDefault()">
					</p:inputText>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12 no-padding-left">
					<p:outputLabel value="#{i18n['lbl.birth.date']} *" />
					<p:calendar
						value="#{profileController.user.associate.transientBirthDate}"
						pattern="dd-MM-yyyy" mask="true" navigator="true" effect="fold"
						required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.birth.date')}" />
				</div>
				<div class="col m6 s12 no-padding-right">
					<p:outputLabel value="#{i18n['lbl.filiation.date']} *" />
					<p:calendar
						value="#{profileController.user.associate.transientFiliationDate}"
						pattern="dd-MM-yyyy" mask="true" navigator="true" effect="fold"
						required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.filiation.date')}" />
				</div>
			</div>

			<div class="row">
				<p:outputLabel value="#{i18n['lbl.club']} *" />
			</div>
			<div class="row">
				<p:autoComplete value="#{profileController.user.associate.club}"
					minQueryLength="3" queryDelay="1000"
					placeholder="#{i18n['lbl.digite.o.nome.do.clube']}"
					completeMethod="#{profileController.clubFilter}"
					var="selectClubVar" itemLabel="#{selectClubVar.name}"
					itemValue="#{selectClubVar}" forceSelection="true"
					converter="clubConverter">
				</p:autoComplete>
			</div>
			<div class="row">
				<p:separator />
			</div>
			<div class="row">
				<div style="float: right">
					<p:commandButton value="#{i18n['lbl.send']}"
						action="#{profileController.saveAssociateData()}"
						styleClass="waves-effect waves-light btn" update="@form" />
					<p:commandButton type="button" value="#{i18n['lbl.cancel']}"
						onclick="PF('dialogAssociateData').hide()"
						styleClass="waves-effect waves-light btn" />
				</div>
			</div>
		</h:form>
	</p:dialog>
</f:view>