<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)" id="dialogChangePassword"
		widgetVar="dialogChangePassword" resizable="false" responsive="true"
		closable="false" modal="true" appendTo="@(body)"
		header="#{i18n['lbl.change.password']}" closeOnEscape="true">

		<h:form id="formChangePassword" style="padding: 0">
			<div class="row">
				<p:growl  closable="true" />
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.email']}" />
				<p:inputText value="#{profileController.user.email}" readonly="true" />
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.current.password']} *" />
				<p:password required="true"
					value="#{profileController.currentPassword}" maxlength="16"
					requiredMessage="#{messageUtilBean.requiredField('lbl.current.password')}">
				</p:password>
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.new.password']} *" />
				<p:password id="cpwd1" match="cpwd2" required="true"
					value="#{profileController.passwordChange}"
					requiredMessage="#{messageUtilBean.requiredField('lbl.new.password')}"
					validatorMessage="#{i18n['error.password.match']}" maxlength="16">
				</p:password>
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.confirm.new.password']} *" />
				<p:password id="cpwd2" required="true"
					value="#{profileController.confirmPasswordChange}" maxlength="16"
					requiredMessage="#{messageUtilBean.requiredField('lbl.confirm.new.password')}"
					validatorMessage="#{i18n['error.password.easy']}">
					<f:validateRegex pattern="((?=.*\d)(?=.*[a-zA-Z]).{6,16})" />
				</p:password>
			</div>
			<div class="row">
				<p:separator />
			</div>
			<div class="row">
				<div style="float: right">
					<p:commandButton value="#{i18n['lbl.send']}"
						action="#{profileController.changePassword()}"
						styleClass="waves-effect waves-light btn" update="@form" />
					<p:commandButton type="button" value="#{i18n['lbl.cancel']}"
						onclick="PF('dialogChangePassword').hide()"
						styleClass="waves-effect waves-light btn" />
				</div>
			</div>
		</h:form>
	</p:dialog>
</f:view>