<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formProfile">
				<div class="row">
					<div class="col s12 right">
						<h:panelGroup rendered="#{!profileController.editingMode}">
							<p:commandButton
								action="#{profileController.enableEditingMode()}"
								value="#{i18n['lbl.edit']}" update="@form" resetValues="true"
								styleClass="waves-effect waves-light btn" />
							<p:commandButton
								action="#{profileController.initChangePassword()}"
								value="#{i18n['lbl.change.password']}" update="@form"
								resetValues="true" styleClass="waves-effect waves-light btn" />
							<p:commandButton
								rendered="#{profileController.allowChangeAssociateData()}"
								action="#{profileController.preUpdateAssociateData()}"
								value="#{i18n['lbl.update.associate']}" update="@form"
								resetValues="true" styleClass="waves-effect waves-light btn" />
							<p:commandButton
								rendered="#{profileController.associateRegistred()}"
								action="#{profileController.removeAssociate()}"
								value="#{i18n['lbl.remove.associate']}" update="@form"
								resetValues="true" styleClass="waves-effect waves-light btn" />
						</h:panelGroup>
						<h:panelGroup rendered="#{profileController.editingMode}">
							<p:commandButton value="#{i18n['act.save']}"
								action="#{profileController.save()}" update="@form"
								styleClass="waves-effect waves-light btn" />
							<p:commandButton value="#{i18n['act.cancel']}" immediate="true"
								action="#{profileController.cancelEditingMode()}" update="@form"
								styleClass="waves-effect waves-light btn" />
						</h:panelGroup>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<p:growl  id="messages" closable="true" />
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col m6 s12">
						<div class="row">
							<h5>#{i18n['lbl.user.data']}</h5>
							<p:separator />
						</div>
						<h:panelGroup id="profileUserData">
							<div class="row">
								<div class="col m6 s12 no-padding-left">
									<p:outputLabel rendered="#{!profileController.editingMode}"
										value="#{i18n['lbl.name']}" />
									<p:inputText rendered="#{!profileController.editingMode}"
										readonly="true" value="#{profileController.user.name}" />

									<p:outputLabel rendered="#{profileController.editingMode}"
										value="#{i18n['lbl.name']} *" />
									<p:inputText rendered="#{profileController.editingMode}"
										value="#{profileController.user.name}" required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.name')}" />
								</div>
								<div class="col m6 s12 no-padding-right">
									<p:outputLabel value="#{i18n['lbl.email']}" />
									<p:inputText readonly="true"
										value="#{profileController.user.email}" />
								</div>
							</div>
							<div class="row">
								<h:panelGroup
									rendered="#{profileController.associateNotRegistred()}">
									<div class="col s4 no-padding-left">
										<p:outputLabel value="#{i18n['lbl.situation']}" />
										<p:inputText readonly="true"
											value="#{i18n[profileController.user.situation]}" />
									</div>
								</h:panelGroup>
								<h:panelGroup
									rendered="#{profileController.associateRegistred()}">
									<div class="col s4 no-padding-left">
										<p:outputLabel value="#{i18n['lbl.cpf']}" />
										<p:inputText value="#{profileController.user.associate.cpf}"
											readonly="true" />
									</div>
									<div class="col s4 no-padding-right">
										<p:outputLabel value="#{i18n['lbl.birth.date']}" />
										<p:inputText
											value="#{profileController.user.associate.birthDateToPattern('dd/MM/yyyy')}"
											readonly="true" />
									</div>
									<div class="col s4">
										<p:outputLabel value="#{i18n['lbl.situation']}" />
										<p:inputText readonly="true"
											value="#{i18n[profileController.user.situation]}" />
									</div>
								</h:panelGroup>
							</div>
						</h:panelGroup>
					</div>
					<div class="col m6 s12">
						<div class="row">
							<h5>#{i18n['lbl.user.associate.data']}</h5>
							<p:separator />
						</div>
						<h:panelGroup id="profileAssociateData">
							<h:panelGroup
								rendered="#{profileController.associateNotRegistred()}">
								<div class="row">
									<p:outputLabel value="#{i18n['lbl.associated.not.registred']}" />
								</div>
								<div class="row">
									<p:commandButton
										value="#{i18n['lbl.complement.associate.data']}"
										action="#{profileController.preUpdateAssociateData()}"
										styleClass="waves-effect waves-light btn" />
								</div>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{profileController.associateRegistred()}">
								<div class="row">
									<div class="col s8 no-padding-left">
										<p:outputLabel value="#{i18n['lbl.club']}" />
										<p:inputText
											value="#{profileController.user.associate.club.name}"
											readonly="true" />
									</div>
									<div class="col s4 no-padding-right">
										<p:outputLabel value="#{i18n['lbl.associate.situation']}" />
										<p:inputText readonly="true"
											value="#{i18n[profileController.user.associate.situationAssociate]}" />
									</div>
								</div>
								<div class="row">
									<div class="col s4 no-padding-left">
										<p:outputLabel value="#{i18n['lbl.filiation.date']}" />
										<p:inputText
											value="#{profileController.user.associate.filiationDateToPattern('dd/MM/yyyy')}"
											readonly="true" />

									</div>
									<div class="col s4">
										<p:outputLabel value="#{i18n['lbl.last.renovation']}" />
										<p:inputText
											value="#{profileController.user.associate.lastRenovationDateToPattern('dd/MM/yyyy')}"
											readonly="true" />
									</div>
									<div class="col s4 no-padding-right">
										<p:outputLabel value="#{i18n['lbl.registration']}" />
										<p:inputText
											value="#{profileController.user.associate.registration}"
											readonly="true" />
									</div>
								</div>
							</h:panelGroup>
						</h:panelGroup>
					</div>
				</div>
				<div class="row">
					<p:spacer height="10" />
				</div>
				<h:panelGroup rendered="false" id="accompanimentUserData">
					<div class="row">
						<h5>#{i18n['lbl.user.events.accompaniment']}</h5>
						<p:separator />
					</div>
					<div class="row">
						<p:dataTable paginatorPosition="top" id="accompanimentsTable"
							var="accompanimentTableObject" dynamic="true" paginator="true"
							lazy="true" emptyMessage="#{i18n['msg.nenhum.registro']}"
							value="#{accompanimentController.accompanimentList}"
							rows="#{sessionBean.dataTableRows}" pageLinks="4"
							rowsPerPageTemplate="5,10,20,30"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<p:column headerText="#{i18n['lbl.actions']}" width="5%">
								<center>
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.delete']}"
										action="#{accompanimentController.openDelete(accompanimentTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-trash"
										update=":formProfile:messages, accompanimentsTable" />
								</center>
							</p:column>

							<p:column headerText="#{i18n['lbl.alert.type']}"
								sortBy="#{C.receiveAlert}" width="20%">
								<h:outputText
									value="#{i18n[accompanimentTableObject.receiveAlert]}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.days.before']}"
								sortBy="#{C.daysBefore}" width="10%">
								<h:outputText style="float: right"
									value="#{accompanimentTableObject.daysBefore}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.event']}"
								sortBy="#{C.event.name}" width="65%">
								<h:outputText value="#{accompanimentTableObject.event.name}" />
							</p:column>
						</p:dataTable>
					</div>
				</h:panelGroup>
			</h:form>
			<ui:include src="/pages/profile/_dialogChangePassword.xhtml" />
			<ui:include src="/pages/profile/_dialogAssociateData.xhtml" />
		</ui:define>
	</ui:composition>
</f:view>