<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)" id="dialogForgetPassword"
		widgetVar="dialogForgetPassword" resizable="false" responsive="true"
		appendTo="@(body)" closable="false" modal="true"
		header="#{i18n['lbl.forget.password']}" closeOnEscape="true">

		<div class="row">
			<h:form id="formForgetPassword">
				<p:growl closable="true" />
				<div class="col s12" style="text-align: center;">
					<p:outputLabel value="#{i18n['lbl.email.forget.password']} *" />
					<p:inputText value="#{loginController.login}"
						validator="validatorEmail" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.email')}" />
				</div>
				<div class="col s12">
					<p:captcha secure="true" language="pt_BR"
						label="#{i18n['lbl.captcha']}"
						validatorMessage="#{i18n['captcha.validator.message']}"
						converterMessage="#{i18n['captcha.converter.message']}"
						required="true" />
				</div>
				<div class="col s12">
					<p:separator />
				</div>
				<div class="col s12">
					<div style="float: right">
						<p:commandButton value="#{i18n['lbl.send']}"
							action="#{loginController.forgetPassword()}"
							styleClass="waves-effect waves-light btn btn-flat ps-blue"
							update="@form" />
						<p:commandButton type="button" value="#{i18n['lbl.cancel']}"
							onclick="PF('dialogForgetPassword').hide()"
							styleClass="waves-effect waves-light btn btn-flat ps-blue" />
					</div>
				</div>
			</h:form>
		</div>
	</p:dialog>
</f:view>