<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<div class="row">
				<div class="col-md-9">
					<div class="col-md-24">
						<h:form>
							<p:dataScroller value="#{homeController.utilities}"
								var="utilitieModel" chunkSize="3" mode="inline">
								<f:facet name="header">
									<p:outputLabel value="Facilidades" />
								</f:facet>
								<h:panelGroup>
									<div class="col-md-24">
										<p:outputLabel value="#{utilitieModel.title}" />
									</div>
									<div class="col-md-24">
										<a href="#{request.contextPath}#{utilitieModel.path}">#{utilitieModel.subtitle}</a>
									</div>
									<div class="col-md-24">
										<p:separator />
									</div>
								</h:panelGroup>
								<f:facet name="loader">
									<p:commandButton type="button" value="Ver Mais" />
								</f:facet>
							</p:dataScroller>
						</h:form>
					</div>
					<div class="col-md-24">
						<h:form>
							<p:dataScroller value="#{homeController.links}" var="linkModel"
								chunkSize="3" mode="inline">
								<f:facet name="header">
									<p:outputLabel value="Links Úteis" />
								</f:facet>
								<h:panelGroup>
									<div class="col-md-24">
										<a href="#{linkModel.uri}" target="blank">#{linkModel.name}</a>
									</div>
									<div class="col-md-24">
										<p:outputLabel value="#{linkModel.content}" />
									</div>
									<div class="col-md-24">
										<p:separator />
									</div>
								</h:panelGroup>
								<f:facet name="loader">
									<p:commandButton type="button" value="Ver Mais" />
								</f:facet>
							</p:dataScroller>
						</h:form>
					</div>
				</div>
				<div class="col-md-1">
					<br/>
				</div>
				<div class="col-md-14">
					<h:form>
						<p:dataScroller value="#{eventController.nextEvents}"
							var="eventModel" chunkSize="10" mode="inline" lazy="true"
							rowIndexVar="rowIndex">
							<f:facet name="header">
								<p:outputLabel value="Próximos Eventos" />
							</f:facet>
							<h:panelGroup>
								<div class="col-md-4 center">
									<img alt="" src="#{clubController.clubImage(eventModel.club)}"
										style="max-width: 90px; max-height: 90px" />
								</div>
								<div class="col-md-20">
									<div class="col-md-24 center">
										<p:outputLabel
											value="#{i18n[eventModel.eventType]}&nbsp;-&nbsp;" />
										<p:outputLabel value="#{eventModel.name.toUpperCase()}" />
									</div>
									<div class="col-md-24">
										<p:outputLabel value="#{i18n['lbl.local']}:&nbsp;" />
										<h:outputText value="#{eventModel.club.name.toUpperCase()}" />
									</div>
									<div class="col-md-24">
										<div class="col-md-2">
											<p:outputLabel value="#{i18n['lbl.days']}:&nbsp;" />
										</div>
										<div class="col-md-22" style="margin-top: 5px;padding-left: 2px">
											<h:outputText escape="false" value="#{eventModel.days}" />
										</div>
									</div>
									<div class="col-md-24">
										<p:outputLabel value="#{i18n['lbl.modalitys']}:&nbsp;" />
										<h:outputText escape="false"
											value="#{eventModel.formattedModalities()}" />
									</div>
								</div>
								<div class="col-md-24">
									<div class="col-md-14">
										<div class="col-md-24">
											<p:outputLabel value="#{i18n['lbl.address']}" />
										</div>
										<div class="col-md-24">
											<h:outputText escape="false"
												value="#{eventModel.formattedAddress()}" />
										</div>
									</div>
									<div class="col-md-10">
										<div class="col-md-24">
											<p:outputLabel value="#{i18n['lbl.contacts']}" />
										</div>
										<div class="col-md-24">
											<h:outputText escape="false"
												value="#{eventModel.formattedContacts()}" />
										</div>
									</div>
								</div>
								<div class="col-md-24">
									<p:separator />
								</div>
							</h:panelGroup>
							<div class="col-md-24">
								<f:facet name="loader">
									<p:commandButton type="button" value="Ver Mais" />
								</f:facet>
							</div>
						</p:dataScroller>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</f:view>