<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<div class="row">
				<div class="ps-hero parallax-container">
					<div class="ps-hero__overlay ps-u-aligner">
						<div class="row">
							<div class="col s12">
								<!--<h4 class="ps-hero__overlay-title">Encontre os melhores
									lugares para a prática do tiro esportivo na sua cidade.</h4>-->
							</div>
						</div>
					</div>
				</div>
				<div class="ps-block ps-features hide-on-med-and-up">
					<div class="ps-block__title">
						#{i18n['lbl.facilities']}
						<div class="ps-line"></div>
					</div>
					<ui:repeat var="utilitieModel" value="#{homeController.utilities}">
						<div class="row backgroundItem">
							<div class="col s2">
								<img src="#{homeController.buildPath(utilitieModel.imagePath)}" />
							</div>
							<div class="col s10" style="text-align: left; margin-top: 5px;">
								<p:commandLink value="#{utilitieModel.title}"
									action="#{sessionBean.goToPage(utilitieModel.path)}" />
							</div>
						</div>
						<div class="row">#{utilitieModel.subtitle}</div>
					</ui:repeat>
				</div>
				<div class="ps-block ps-features container hide-on-med-and-down">
					<div class="ps-block__wrapper">
						<div class="ps-block__title">
							#{i18n['lbl.facilities']}
							<div class="ps-line"></div>
						</div>
						<div class="ps-block__content row">
							<ui:repeat var="utilitieModel"
								value="#{homeController.utilities}">
								<div class="col s4 ps-features__box">
									<img src="#{homeController.buildPath(utilitieModel.imagePath)}" />
									<div class="ps-features__box-title">
										<p:commandLink value="#{utilitieModel.title}"
											action="#{sessionBean.goToPage(utilitieModel.path)}" />
									</div>
									<div class="ps-features__box-content">
										#{utilitieModel.subtitle}</div>
								</div>
							</ui:repeat>
						</div>
					</div>
				</div>
				<div class="ps-block ps-features">
					<div class="ps-block__wrapper">
						<div class="ps-block__title">
							#{i18n['lbl.next.events']}
							<div class="ps-line"></div>
						</div>
						<div class="ps-block__content ps-events__list">
							<div class="row">
								<ui:repeat var="nextEventModel"
									value="#{eventController.nextEventsHome}">
									<div class="col s12 padding-off hide-on-med-and-up">
										<ui:include src="/templates/_eventContent.xhtml" />
									</div>
									<div class="col s4 padding-off hide-on-med-and-down">
										<ui:include src="/templates/_eventContent.xhtml" />
									</div>
								</ui:repeat>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</f:view>