<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formLogin">
				<div class="row" style="margin: 0 auto;max-width: 300px;">
					<div class="card ps-card">
						<div class="card-content">
							<div class="card-title ps-card__title">
								Área de membros
							</div>
							<script>
                                var isLoggedIn = #{sessionBean.isLoggedIn()};
                                if (isLoggedIn) { window.location = "home.jsf"; }
							</script>
							<div class="row">
								<div class="col s12">
									<p:growl  id="messages" closable="true" />
								</div>
								<div class="col s12">
									<p:outputLabel value="#{i18n['lbl.login']} *" />
									<p:inputText value="#{loginController.login}" required="true" requiredMessage="#{messageUtilBean.requiredField('lbl.login')}"
												 class="validate" />
								</div>
								<div class="col s12">
									<p:outputLabel value="#{i18n['lbl.password']} *" />
									<p:password value="#{loginController.password}" class="validate" required="true" id="password" requiredMessage="#{messageUtilBean.requiredField('lbl.password')}"
									/>
								</div>
								<div class="col s12">
									<p:commandButton value="#{i18n['act.login']}" styleClass="col s6 waves-effect waves-light btn btn-flat ps-blue" action="#{loginController.login()}"
													 onclick="PF('spinner').show()" update="@form" />
									<p:commandButton value="#{i18n['lbl.register']}" ajax="false" styleClass="waves-effect waves-light btn btn-flat ps-blue" immediate="true"
													 action="/pages/register/show.jsf?faces-redirect=true" style="float:right" />
								</div>
							</div>
							<div class="row center">
								<p:commandLink type="button" value="#{i18n['lbl.forget.password']}" onclick="PF('dialogForgetPassword').show()" immediate="true" style="font-size: 12px; text-transform: none; color: rgb(86, 95, 102);"/>
							</div>
						</div>
					</div>
				</div>
			</h:form>
			<ui:include src="/templates/_spinner.xhtml" />
			<ui:include src="/_dialogForgetPassword.xhtml" />
		</ui:define>
	</ui:composition>
</f:view>