<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div class="row">
		<div class="col m6 s12">
			<p:outputLabel value="#{i18n['lbl.instructor']}" />
			<p:inputText
				value="#{instructorController.student.instructor.user.name}"
				disabled="true" />
		</div>
		<div class="col m6 s12">
			<p:outputLabel value="#{i18n['lbl.instructor.email']}" />
			<p:inputText
				value="#{instructorController.student.instructor.user.email}"
				disabled="true" />
		</div>
	</div>
	<div class="row">
		<div class="col m6 s12">
			<h:panelGroup id="userDataForm">
				<div class="row" style="margin-top: 12px">
					<p:outputLabel value="#{i18n['lbl.personal.data']}" />
					<p:separator />
				</div>
				<div class="row col s12 right">
					<p:selectBooleanCheckbox itemLabel="#{i18n['lbl.ctvv.associated']}"
						value="#{instructorController.student.ctvvAssociated}"
						disabled="#{instructorController.blockEditing(instructorController.student)}">
						<p:ajax process="@this" update="userDataForm" global="false" />
					</p:selectBooleanCheckbox>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.name']}" />
						<p:inputText value="#{instructorController.student.user.name}"
							disabled="true" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.email']}" />
						<p:inputText value="#{instructorController.student.user.email}"
							disabled="true" />
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.father.name']} *" />
						<p:inputText value="#{instructorController.student.fatherName}"
							required="true" maxlength="128"
							requiredMessage="#{messageUtilBean.requiredField('lbl.father.name')}"
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.mother.name']} *" />
						<p:inputText value="#{instructorController.student.motherName}"
							required="true" maxlength="128"
							requiredMessage="#{messageUtilBean.requiredField('lbl.mother.name')}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
				</div>
				<div class="row ">
					<div class="col s4">
						<p:outputLabel value="#{i18n['lbl.rg']} *" />
						<p:inputText value="#{instructorController.student.rg}"
							required="true" maxlength="128"
							requiredMessage="#{messageUtilBean.requiredField('lbl.rg')}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
					<div class="col s4">
						<p:outputLabel value="#{i18n['lbl.cpf']} *" />
						<p:inputText styleClass="maskCpf"
							value="#{instructorController.student.cpf}" required="true"
							maxlength="128" validator="validatorCPF"
							onfocus="aplicarMascarasDefault()"
							requiredMessage="#{messageUtilBean.requiredField('lbl.cpf')}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
					<div class="col s4">
						<p:outputLabel
							rendered="#{instructorController.student.ctvvAssociated}"
							value="#{i18n['lbl.card.number']} *" />
						<p:outputLabel
							rendered="#{!instructorController.student.ctvvAssociated}"
							value="#{i18n['lbl.card.number']}" />
						<p:inputText styleClass="right"
							value="#{instructorController.student.cardNumber}" maxlength="5"
							disabled="#{!instructorController.student.ctvvAssociated or instructorController.blockEditing(instructorController.student)}"
							required="#{instructorController.student.ctvvAssociated}"
							requiredMessage="#{messageUtilBean.requiredField('lbl.card.number')}"  />
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.phone']} *" />
						<p:inputText value="#{instructorController.phone}" required="true"
							maxlength="12" styleClass="celular" converter="telefoneConverter"
							onfocus="aplicarMascarasDefault()"
							requiredMessage="#{messageUtilBean.requiredField('lbl.phone')}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.course.purpose']} *" />
						<p:selectOneMenu
							value="#{instructorController.student.courseType}"
							required="true"
							requiredMessage="#{messageUtilBean.requiredField('lbl.course.purpose')}"
							disabled="#{instructorController.blockEditing(instructorController.student)}" >
							<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
								itemValue="#{null}" />
							<f:selectItems var="varStudentType"
								value="#{enumBean.courseTypes()}"
								itemLabel="#{i18n[varStudentType]}"
								itemValue="#{varStudentType}" />
						</p:selectOneMenu>
					</div>
				</div>
			</h:panelGroup>
		</div>
		<div class="col m6 s12">
			<div class="row" style="margin-top: 12px">
				<p:outputLabel value="#{i18n['lbl.address.data']}" />
				<p:separator />
			</div>
			<div class="col s12">
				<p:outputLabel value="#{i18n['lbl.address']} *" />
				<p:inputText value="#{instructorController.student.address.place}"
					maxlength="255" required="true"
					requiredMessage="#{messageUtilBean.requiredField('lbl.address')}" 
					disabled="#{instructorController.blockEditing(instructorController.student)}" />
			</div>
			<div class="row">
				<div class="col s4">
					<p:outputLabel value="#{i18n['lbl.zipcode']} *" />
					<p:inputText
						value="#{instructorController.student.address.zipCode}"
						maxlength="128" styleClass="maskCep"
						onfocus="aplicarMascarasDefault()" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.zipcode')}" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
				<div class="col s6">
					<p:outputLabel value="#{i18n['lbl.complement']}" />
					<p:inputText
						value="#{instructorController.student.address.complement}"
						maxlength="128" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.number']}" />
					<p:inputText value="#{instructorController.student.address.number}"
						maxlength="15" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
			</div>
			<div class="row">
				<div class="col s5">
					<p:outputLabel value="#{i18n['lbl.district']} *" />
					<p:inputText
						value="#{instructorController.student.address.district}"
						maxlength="128" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.district')}" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
				<div class="col s5">
					<p:outputLabel value="#{i18n['lbl.city']} *" />
					<p:inputText value="#{instructorController.student.address.city}"
						maxlength="128" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.city')}" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.state']} *" />
					<p:inputText value="#{instructorController.student.address.state}"
						maxlength="15" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.state')}" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m6 s12">
			<div class="row" style="margin-top: 12px">
				<p:outputLabel value="#{i18n['lbl.theoretical.test.data']}" />
				<p:separator />
			</div>
			<div class="row">
				<div class="col s3">
					<div class="row" style="margin-top: 17px;">
						<p:selectBooleanCheckbox itemLabel="#{i18n['lbl.psychological']}"
							value="#{instructorController.student.psychologicalReport}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
				</div>
				<div class="col s5">
					<div class="row" style="margin-top: 17px;">
						<p:selectBooleanCheckbox
							itemLabel="#{i18n['lbl.criminal.record']}"
							value="#{instructorController.student.criminalRecord}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
				</div>
				<div class="col s4">
					<p:outputLabel value="#{i18n['lbl.receipt.date']} *" />
					<p:calendar
						value="#{instructorController.student.receiptReportsDate}"
						pattern="dd-MM-yyyy" mask="true"  navigator="true"
						effect="fold" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
			</div>
			<div class="row">
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.note']} *" />
					<p:inputText styleClass="commanumber right"
						value="#{instructorController.student.theoreticalNote}"
						maxlength="3" required="true" onfocus="aplicarMascarasDefault()"
						requiredMessage="#{messageUtilBean.requiredField('lbl.note')}"
						disabled="#{instructorController.blockEditing(instructorController.student)}" >
						<p:ajax global="false" event="keyup"
							listener="#{instructorController.calcPunctuation()}"
							process="@this" update="totalPunctuation" />
						<f:convertNumber maxFractionDigits="1" />
					</p:inputText>
				</div>
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.punctuation']}" />
					<p:inputText styleClass="right" id="totalPunctuation"
						value="#{instructorController.student.punctuationTheoretical}"
						disabled="true" />
				</div>
				<div class="col s4">
					<p:outputLabel value="#{i18n['lbl.realization.date']} *" />
					<p:calendar value="#{instructorController.student.realizationDate}"
						pattern="dd-MM-yyyy" mask="true"  navigator="true"
						effect="fold" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
				<div class="col s4">
					<div class="row" style="margin-top: 17px;">
						<p:selectBooleanCheckbox
							itemLabel="#{i18n['lbl.candidate.aproved']}"
							value="#{instructorController.student.unable}" 
							disabled="#{instructorController.blockEditing(instructorController.student)}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<p:outputLabel value="#{i18n['lbl.observations']}" />
					<p:inputText value="#{instructorController.student.observations}"
						maxlength="200" 
						disabled="#{instructorController.blockEditing(instructorController.student)}" />
				</div>
			</div>
		</div>
		<div class="col m6 s12">
			<div class="row" style="margin-top: 12px">
				<p:outputLabel value="#{i18n['lbl.practical.tests.data']}" />
				<p:separator />
			</div>
			<div class="row">
				<h:panelGroup id="weaponFormInsertUpdate">
					<div class="col s12">
						<h:panelGroup rendered="#{instructorController.editingWeaponMode}"
							id="formEditingWeapon">
							<div class="row">
								<div class="col s4">
									<p:outputLabel value="#{i18n['lbl.gun']} *" />
									<p:selectOneMenu
										value="#{instructorController.weaponOfCourse.weaponType}"
										required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.gun')}">
										<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
											itemValue="#{null}" />
										<f:selectItems var="varWeaponType"
											value="#{enumBean.weaponTypes()}"
											itemLabel="#{i18n[varWeaponType]}"
											itemValue="#{varWeaponType}" />
									</p:selectOneMenu>
								</div>
								<div class="col s2">
									<p:outputLabel value="#{i18n['lbl.caliber']} *" />
									<p:inputText
										value="#{instructorController.weaponOfCourse.caliber}"
										maxlength="10" />
								</div>
								<div class="col s2">
									<p:outputLabel value="#{i18n['lbl.note']} *" />
									<p:inputText styleClass="commanumber right"
										value="#{instructorController.weaponOfCourse.punctuationPractice}"
										maxlength="3" required="true"
										onfocus="aplicarMascarasDefault()"
										requiredMessage="#{messageUtilBean.requiredField('lbl.note')}">
										<p:ajax global="false" event="keyup"
											listener="#{instructorController.calcWeaponPunctuation()}"
											process="@this" update="totalWeaponPunctuation" />
										<f:converter converterId="numberWithCommaConverter" />
									</p:inputText>
								</div>
								<div class="col s2">
									<p:outputLabel value="#{i18n['lbl.punctuation']}" />
									<p:inputText styleClass="right" id="totalWeaponPunctuation"
										value="#{instructorController.weaponOfCourse.practiceNote}"
										disabled="true" />
								</div>
								<div class="col s2 center" style="margin-top: 10px;">
									<p:commandLink title="#{i18n['lbl.save']}"
										action="#{instructorController.saveWeapon()}"
										process="formEditingWeapon"
										update="weaponList weaponFormInsertUpdate :formStudents:studentMessages">
										<i class="fa fa-check-circle fa-2x"></i>
									</p:commandLink>
									<p:commandLink title="#{i18n['lbl.cancel']}"
										action="#{instructorController.cancelSaveWeapon()}"
										immediate="true" update="weaponFormInsertUpdate weaponList"
										process="@this">
										<i class="fa fa-times-circle fa-2x"></i>
									</p:commandLink>
								</div>
							</div>
						</h:panelGroup>
						<div class="row">
							<div class="col s4 center border-left">
								<p:outputLabel value="#{i18n['lbl.gun']}" />
							</div>
							<div class="col s2 center border-left">
								<p:outputLabel value="#{i18n['lbl.caliber']}" />
							</div>
							<div class="col s2 center border-left">
								<p:outputLabel value="#{i18n['lbl.note']}" />
							</div>
							<div class="col s2 center border-left">
								<p:outputLabel value="#{i18n['lbl.punctuation']}" />
							</div>
							<div class="col s2 center border-left border-right">
								<p:commandLink title="#{i18n['lbl.new.weapon']}"
									action="#{instructorController.preInsertWeapon()}"
									immediate="true" process="@this"
									update="weaponFormInsertUpdate" resetValues="true"
									disabled="#{instructorController.blockEditing(instructorController.student)}" >
									<i class="fa fa-plus-square fa-lg"></i>
								</p:commandLink>
							</div>
						</div>
						<div style="width: 100%; margin-top: -5px;">
							<p:separator />
						</div>
						<h:panelGroup
							rendered="#{instructorController.hasRegisteredWeapon()}"
							id="weaponList">
							<ui:repeat var="weaponModel"
								value="#{instructorController.student.weapons}">
								<div class="row">
									<div class="col s4 border-left">
										<p:outputLabel value="#{i18n[weaponModel.weaponType]}" />
									</div>
									<div class="col s2 border-left">
										<p:outputLabel value="#{weaponModel.caliber}" />
									</div>
									<div class="col s2 center border-left">
										<p:outputLabel value="#{weaponModel.punctuationPractice}" >
											<f:converter converterId="numberWithCommaConverter" />
										</p:outputLabel>
									</div>
									<div class="col s2 center border-left">
										<p:outputLabel value="#{weaponModel.practiceNote}" />
									</div>
									<div class="col s2 center border-left border-right">
										<p:commandLink title="#{i18n['lbl.edit']}"
											action="#{instructorController.preEditWeapon(weaponModel.id)}"
											immediate="true" process="@this"
											update=":formStudents:weaponFormInsertUpdate"
											resetValues="true"
											rendered="#{!instructorController.blockEditing(instructorController.student)}" >
											<i class="fa fa-pencil-square fa-lg"></i>
										</p:commandLink>
										<p:commandLink title="#{i18n['lbl.remove']}"
											action="#{instructorController.preDeleteWeapon(weaponModel.id)}"
											immediate="true" process="@this"
											rendered="#{!instructorController.blockEditing(instructorController.student)}" >
											<i class="fa fa-minus-square fa-lg"></i>
										</p:commandLink>
										<p:commandLink title="#{i18n['act.download.certificate.course']}"
											rendered="#{instructorController.enableDownloads(instructorController.student)}"
                                    		action="#{instructorController.openDownloadCertificateCourse(instructorController.student.id, weaponModel.id)}"
											immediate="true" process="@this">
											<i class="fa fa-print fa-lg"></i>
										</p:commandLink>
									</div>
								</div>
							</ui:repeat>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{instructorController.isntRegisteredWeapon()}">
							<div class="row">
								<div class="col s12 center">
									<p:outputLabel value="#{i18n['lbl.has.no.weapon.registered']}" />
								</div>
							</div>
						</h:panelGroup>
					</div>
				</h:panelGroup>
			</div>
		</div>
	</div>
</f:view>