<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form>
				<div class="row" style="margin-top: 5px">
					<ui:repeat var="instructorModel"
						value="#{instructorController.instructors}">
						<div class="row">
							<div class="col s12">
								<div class="card">
									<div class="card-image"
										style="max-height: 260px; overflow: hidden">
										<center>
											<img style="width: auto; height: 400px"
												src="#{instructorController.instructorImage(instructorModel)}">
											</img>
										</center>
									</div>
									<div class="card-content">
										<div class="row center">
											<p:outputLabel
												value="#{instructorModel.user.name.toUpperCase()}" />
											<br />
											<p:outputLabel
												value="#{instructorModel.institution.toUpperCase()}" />
										</div>
										<div class="row center">
											<p:outputLabel escape="false"
												value="#{instructorModel.description}" />
										</div>
										<div class="row center">
											<p:separator />
											<p:outputLabel value="#{i18n['lbl.address']}" />
											<p:separator />
										</div>
										<div class="row">
											<p:outputLabel escape="false"
												value="#{instructorModel.formattedAddress()}" />
										</div>
										<div class="row center">
											<p:separator />
											<p:outputLabel value="#{i18n['lbl.contacts']}" />
											<p:separator />
										</div>
										<div class="row">
											<p:outputLabel escape="false"
												value="#{instructorModel.formattedContacts()}" />
										</div>
									</div>
									<div class="card-action center">
										<p:commandButton style="width: 170px"
											styleClass="waves-effect waves-light btn"
											value="#{i18n['lbl.schedule.a.course']}"
											action="#{candidateController.createCandidateRegister(instructorModel)}" />
									</div>
								</div>
							</div>
							<div class="col s12">
								<ul id="tabs-swipe-demo" class="tabs">
									<li class="tab col s6"><a class="active"
										href="#test-swipe-1">
											#{i18n['lbl.basic.course.level.one']} </a></li>
									<li class="tab col s6"><a href="#test-swipe-2">
											#{i18n['lbl.advanced.course.level.two']} </a></li>
								</ul>
								<div id="test-swipe-1" class="row">
									<h:outputText value="#{instructorController.courseBasic}"
										escape="false" />
								</div>
								<div id="test-swipe-2" class="row">
									<h:outputText value="#{instructorController.courseAdvanced}"
										escape="false" />
								</div>
							</div>
						</div>
						<div class="row">
							<p:separator />
						</div>
					</ui:repeat>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>