<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formStudents">
				<div class="row">
					<p:growl  id="studentMessages" closable="true" />
				</div>
				<h:panelGroup id="detailsFormStudent"
					rendered="#{instructorController.closeFormDetail eq 0}">
					<ui:include src="/pages/instructor/_formStudent.xhtml" />
					<h:panelGroup rendered="#{instructorController.editingMode}">
						<div class="row"
							style="margin-left: auto; margin-right: auto; max-width: 50%">
							<h:panelGroup
								rendered="#{!instructorController.blockEditing(instructorController.student)}">
								<div class="col m6 s12">
									<p:commandButton action="#{instructorController.update()}"
										value="#{i18n['act.update']}" process="@form" update="@form"
										style="width: 100%" oncomplete="aplicarMascarasDefault()"
										styleClass="waves-effect waves-light btn" />
								</div>
								<div class="col m6 s12">
									<p:commandButton action="#{instructorController.resetForm()}"
										value="#{i18n['act.cancel']}"
										oncomplete="aplicarMascarasDefault()" update=":formStudents"
										process="@this" global="false" style="width: 100%"
										styleClass="waves-effect waves-light btn">
										<p:resetInput target=":formStudents" />
									</p:commandButton>
								</div>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{instructorController.blockEditing(instructorController.student)}">
								<div style="margin-left: auto; margin-right: auto; max-width: 50%">
									<p:commandButton action="#{instructorController.resetForm()}"
										value="#{i18n['lbl.close']}"
										oncomplete="aplicarMascarasDefault()" update=":formStudents"
										process="@this" global="false" style="width: 100%"
										styleClass="waves-effect waves-light btn">
										<p:resetInput target=":formStudents" />
									</p:commandButton>
								</div>
							</h:panelGroup>
						</div>
					</h:panelGroup>
				</h:panelGroup>
				<p:commandButton style="display:none"
					styleClass="downloadFormCourse" ajax="false">
					<p:fileDownload value="#{instructorController.formCourseFile}" />
				</p:commandButton>
				<p:commandButton style="display:none"
					styleClass="downloadCertificateCourse" ajax="false">
					<p:fileDownload
						value="#{instructorController.certificateCourseFile}" />
				</p:commandButton>
				<div class="row">
					<p:dataTable paginatorPosition="top" id="studentsTable"
						var="studentTableObject" dynamic="true" paginator="true"
						lazy="true" emptyMessage="#{i18n['msg.nenhum.registro']}"
						value="#{instructorController.studentList}"
						rows="#{sessionBean.dataTableRows}" pageLinks="4"
						rowsPerPageTemplate="5,10,20,30"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

						<f:facet name="header">
							<div class="subTitulo">
								<h:outputText value="#{i18n['lbl.my.students']}"
									class="labelSubTitle" />
							</div>
						</f:facet>

						<p:column headerText="#{i18n['lbl.actions']}" width="100">
							<center>
								<p:menuButton value="#{i18n['lbl.options']}">
									<p:menuitem value="#{i18n['act.edit.information']}"
										rendered="#{!instructorController.blockEditing(studentTableObject)}"
										action="#{instructorController.preEdit(studentTableObject.id)}"
										process="@this" oncomplete="aplicarMascarasDefault()"
										icon="ui-icon-pencil" update=":formStudents" />
									<p:menuitem value="#{i18n['act.view.information']}"
										rendered="#{instructorController.blockEditing(studentTableObject)}"
										action="#{instructorController.preEdit(studentTableObject.id)}"
										process="@this" oncomplete="aplicarMascarasDefault()"
										icon="ui-icon-info" update=":formStudents" />
									<p:menuitem value="#{i18n['act.download.form.course']}"
										rendered="#{instructorController.enableDownloads(studentTableObject)}"
										action="#{instructorController.openDownloadFormCourse(studentTableObject.id)}"
										process="@this" icon="ui-icon-document" />
									<p:menuitem value="#{i18n['act.delete.register']}"
										rendered="#{!instructorController.blockRemoval(studentTableObject)}"
										action="#{instructorController.openDelete(studentTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-trash" update=":formStudents, studentsTable" />
									<p:separator />
									<p:menuitem value="#{i18n['act.finalize.course']}"
										rendered="#{instructorController.enableFinalizeCourse(studentTableObject)}"
										action="#{instructorController.openFinalizeCourse(studentTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-check" update=":formStudents, studentsTable" />
									<p:menuitem value="#{i18n['act.return.pending']}"
										rendered="#{instructorController.enableReturnPending(studentTableObject)}"
										action="#{instructorController.openReturnPendingCandidate(studentTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-unlocked" update=":formStudents, studentsTable" />
									<p:menuitem value="#{i18n['act.cancel.course']}"
										rendered="#{instructorController.enableCancelCourse(studentTableObject)}"
										action="#{instructorController.openCancelCourse(studentTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-cancel" update=":formStudents, studentsTable" />
								</p:menuButton>
							</center>
						</p:column>

						<p:column headerText="#{i18n['lbl.inscription.date']}"
							sortBy="#{studentTableObject.creationDate}" width="90">
							<h:outputText
								value="#{studentTableObject.creationDateToPattern('dd/MM/yyyy')}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.course.purpose']}"
							sortBy="#{studentTableObject.courseType}" width="80">
							<h:outputText value="#{i18n[studentTableObject.courseType]}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.student']}"
							sortBy="#{studentTableObject.user.name}" width="200">
							<h:outputText value="#{studentTableObject.user.name}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.note.theory']}"
							styleClass="center"
							sortBy="#{studentTableObject.theoreticalNote}" width="90">
							<h:outputText value="#{studentTableObject.theoreticalNote}">
								<f:converter converterId="numberWithCommaConverter" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{i18n['lbl.points.theory']}"
							styleClass="center"
							sortBy="#{studentTableObject.punctuationTheoretical}" width="90">
							<h:outputText
								value="#{studentTableObject.punctuationTheoretical}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.realization.date']}"
							sortBy="#{studentTableObject.realization}" width="110">
							<h:outputText
								value="#{studentTableObject.realizationDateToPattern('dd/MM/yyyy')}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.situation']}"
							sortBy="#{studentTableObject.situation}" width="90">
							<h:outputText value="#{i18n[studentTableObject.situation]}" />
						</p:column>
					</p:dataTable>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>