<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formRegister">
				<div class="row">
					<h:outputText styleClass="col-md-24" style="font-size: 1.6em"
						value="#{i18n['lbl.update.password']}" />
				</div>

				<div class="row">
					<p:growl id="messages" closable="true" />
				</div>
				<div class="row">
					<p:outputLabel value="#{changePasswordController.infoUser}" />
				</div>
				<h:panelGroup rendered="#{changePasswordController.userValid}">
					<div class="row">
						<p:outputLabel value="#{i18n['lbl.password']} *" />
						<p:password id="pwd1" match="pwd2" required="true"
							value="#{changePasswordController.passwordChange}"
							requiredMessage="#{messageUtilBean.requiredField('lbl.password')}"
							validatorMessage="#{i18n['error.password.match']}" maxlength="16"
							feedback="true" inline="true"
							promptLabel="#{i18n['lbl.password.strength']}"
							weakLabel="#{i18n['lbl.weak']}" goodLabel="#{i18n['lbl.median']}"
							strongLabel="#{i18n['lbl.good']}">
						</p:password>
					</div>

					<div class="row">
						<p:outputLabel value="#{i18n['lbl.password.confirmation']} *" />
						<p:password id="pwd2" required="true"
							value="#{changePasswordController.confirmPasswordChange}"
							maxlength="16"
							requiredMessage="#{messageUtilBean.requiredField('lbl.password.confirmation')}"
							validatorMessage="#{i18n['error.password.easy']}">
							<f:validateRegex pattern="((?=.*\d)(?=.*[a-zA-Z]).{6,16})" />
						</p:password>
					</div>

					<div class="row right">
						<br />
						<p:commandButton value="#{i18n['act.update']}" update="@form"
							action="#{changePasswordController.changePassword}" />
					</div>
				</h:panelGroup>
				<p:commandButton immediate="true" style="display:none" styleClass="userIsNotValid"
					action="#{changePasswordController.userIsNotValid}" update="@form" />
				<h:panelGroup rendered="#{changePasswordController.userInvalid}">
					<script type="text/javascript">
						jQuery(document).ready(function () {
							jQuery('.userIsNotValid').trigger('click');
						});
					</script>
				</h:panelGroup>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>