<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formRegister">
				<div class="row">
					<h:outputText styleClass="col-md-24" style="font-size: 1.6em"
						value="#{i18n['lbl.confirme.register']}" />
				</div>

				<div class="row">
					<p:growl  id="messages" closable="true" />
				</div>
				<div class="row">
					<p:outputLabel value="#{confirmRegisterController.infoUser}" />
				</div>
				<p:commandButton immediate="true" style="display:none" styleClass="userIsValid"
					action="#{confirmRegisterController.confirmRegister}" update="@form" />
				<p:commandButton immediate="true" style="display:none" styleClass="userIsNotValid"
					action="#{confirmRegisterController.userIsNotValid}" update="@form" />
				<h:panelGroup rendered="#{confirmRegisterController.userInvalid}">
					<script type="text/javascript">
						jQuery(document).ready(function () {
							jQuery('.userIsNotValid').trigger('click');
						});
					</script>
				</h:panelGroup>
				<h:panelGroup rendered="#{confirmRegisterController.userValid}">
					<script type="text/javascript">
						jQuery(document).ready(function () {
							jQuery('.userIsValid').trigger('click');
						});
					</script>
				</h:panelGroup>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>