<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formRegister">
				<div class="card ps-card" style="margin: 0 auto !important;max-width: 342px;">
					<div class="card-content">
						<div class="card-title ps-card__title">
							#{i18n['lbl.create.register']}
						</div>
						<div class="row">
							<div class="col s12">
								<p:growl  id="messages" closable="true" />
							</div>
							<div class="col s12">
								<p:outputLabel value="#{i18n['lbl.name']} *" />
								<p:inputText value="#{registerController.user.name}" required="true" maxlength="128" styleClass="validate" requiredMessage="#{messageUtilBean.requiredField('lbl.name')}"
								/>
							</div>
							<div class="col s12">
								<p:outputLabel value="#{i18n['lbl.email']} *" />
								<p:inputText value="#{registerController.user.email}" validator="validatorEmail" required="true" maxlength="128" styleClass="validate"
											 requiredMessage="#{messageUtilBean.requiredField('lbl.email')}" />
							</div>
							<div class="col s12">
								<p:outputLabel value="#{i18n['lbl.password']} *" />
								<p:password id="pwd1" 
											match="pwd2" 
											required="true" 
											styleClass="validate" 
											value="#{registerController.user.password}" 
											requiredMessage="#{messageUtilBean.requiredField('lbl.password')}"
											validatorMessage="#{i18n['error.password.match']}" 
											maxlength="16">
								</p:password>
							</div>

							<div class="col s12">
								<p:outputLabel value="#{i18n['lbl.password.confirmation']} *" />
								<p:password id="pwd2" required="true" value="#{registerController.user.password}" maxlength="16" requiredMessage="#{messageUtilBean.requiredField('lbl.password.confirmation')}"
											styleClass="validate"
											validatorMessage="#{i18n['error.password.easy']}">
									<f:validateRegex pattern="((?=.*\d)(?=.*[a-zA-Z]).{6,16})" />
								</p:password>
							</div>
							<div class="col s12">
								<p:captcha secure="true" language="pt_BR" label="#{i18n['lbl.captcha']}" validatorMessage="#{i18n['captcha.validator.message']}"
										   converterMessage="#{i18n['captcha.converter.message']}" required="true" />
							</div>
							<div class="col s12">
								<p:spacer height="10"/>
							</div>
							<div class="col s12">
								<p:commandButton styleClass="waves-effect waves-light btn btn-flat btn-fluid ps-blue" value="#{i18n['act.register']}" update="@form"
												 action="#{registerController.register}" />
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>