<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div class="card">
		<div class="card-image center">
			<center>
				<img class="clubImageList"
					src="#{clubController.clubImage(clubModel)}"> </img>
			</center>
		</div>
		<div class="card-content">
			<div class="row center">
				<h5>#{clubModel.name.toUpperCase()}</h5>
			</div>
		</div>
		<div class="card-action center">
			<p:commandButton
				styleClass="waves-effect waves-light btn blue ps-blue"
				value="#{i18n['lbl.detail']}"
				action="#{clubController.openClubDetail(clubModel.id)}" />
		</div>
	</div>
</f:view>