<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<script type="text/javascript">
		function openDialogUpload() {
			jQuery('.uploadClubImage').trigger('click');
		}
	</script>
	<div class="row clear" />
	<div class="row">
		<div class="col-md-2">
			<h:panelGroup id="clubImage">
				<div class="col-md-24">
					<p:outputLabel value="#{i18n['lbl.logo']}" />
				</div>
				<div class="col-md-24">
					<img src="#{clubController.clubImage()}" width="90"
						onclick="openDialogUpload()" style="cursor: pointer;" />
					<p:commandButton immediate="true" style="display:none"
						styleClass="uploadClubImage"
						action="#{clubController.uploadClubImage}" update="clubImage" />
				</div>
			</h:panelGroup>
		</div>
		<div class="col-md-22">
			<div class="col-md-11">
				<p:outputLabel value="#{i18n['lbl.name']} *" />
				<p:inputText value="#{clubController.club.name}" maxlength="128"
					required="#{clubController.editingMode}"
					requiredMessage="#{messageUtilBean.requiredField('lbl.name')}" />
			</div>
			<div class="col-md-1">
				<p:spacer height="5" />
			</div>
			<div class="col-md-12">
				<p:outputLabel value="#{i18n['lbl.president']}" />
				<p:inputText value="#{clubController.club.president}"
					maxlength="128" />
			</div>
			<div class="row clear" />
			<div class="row">
				<div class="col-md-24">
					<p:outputLabel value="#{i18n['lbl.references']}" />
					<p:inputTextarea value="#{clubController.club.reference}"
						maxlength="2048" rows="2" />
				</div>
			</div>
		</div>
	</div>

	<div class="row clear" />
	<div class="row">
		<div class="col-md-24">
			<p:outputLabel value="#{i18n['lbl.google.map.link']}" />
			<p:inputText value="#{clubController.club.mapLink}" maxlength="2048" />
		</div>
	</div>
	<br />
	<div class="row clear" />
	<div class="row">
		<div class="col-md-13">
			<p:fieldset legend="#{i18n['lbl.address']}">
				<div class="row">
					<div class="col-md-24">
						<p:outputLabel value="#{i18n['lbl.address']}" />
						<p:inputText value="#{clubController.club.address.place}"
							maxlength="255" />
					</div>
				</div>
				<div class="row clear" />
				<div class="row">
					<div class="col-md-9">
						<p:outputLabel value="#{i18n['lbl.zipcode']}" />
						<p:inputText value="#{clubController.club.address.zipCode}"
							maxlength="128" styleClass="maskCep"
							onfocus="aplicarMascarasDefault()" />
					</div>
					<div class="col-md-1">
						<p:spacer height="5" />
					</div>
					<div class="col-md-9">
						<p:outputLabel value="#{i18n['lbl.complement']}" />
						<p:inputText value="#{clubController.club.address.complement}"
							maxlength="128" />
					</div>
					<div class="col-md-1">
						<p:spacer height="5" />
					</div>
					<div class="col-md-4">
						<p:outputLabel value="#{i18n['lbl.number']}" />
						<p:inputText value="#{clubController.club.address.number}"
							maxlength="15" />
					</div>
				</div>
				<div class="row clear" />
				<div class="row">
					<div class="col-md-9">
						<p:outputLabel value="#{i18n['lbl.district']}" />
						<p:inputText value="#{clubController.club.address.district}"
							maxlength="128" />
					</div>
					<div class="col-md-1">
						<p:spacer height="5" />
					</div>
					<div class="col-md-9">
						<p:outputLabel value="#{i18n['lbl.city']} *" />
						<p:inputText value="#{clubController.club.address.city}"
							maxlength="128" required="#{clubController.editingMode}"
							requiredMessage="#{messageUtilBean.requiredField('lbl.city')}" />
					</div>
					<div class="col-md-1">
						<p:spacer height="5" />
					</div>
					<div class="col-md-4">
						<p:outputLabel value="#{i18n['lbl.state']} *" />
						<p:inputText value="#{clubController.club.address.state}"
							maxlength="15" required="#{clubController.editingMode}"
							requiredMessage="#{messageUtilBean.requiredField('lbl.state')}" />
					</div>
				</div>
			</p:fieldset>
		</div>
		<div class="col-md-1">
			<p:spacer height="5" />
		</div>
		<div class="col-md-10">
			<p:fieldset id="clubContactForm" legend="#{i18n['lbl.contacts']}">
				<div class="col-md-8">
					<p:outputLabel value="#{i18n['lbl.type']}" />
					<p:selectOneMenu value="#{clubController.contactType}">
						<p:ajax global="false" listener="#{clubController.onClubContactChange}" update="clubDescriptionContact" />
						<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
							itemValue="" />
						<f:selectItems var="varClubContactType"
							value="#{enumBean.contactTypes()}"
							itemLabel="#{i18n[varClubContactType]}"
							itemValue="#{varClubContactType}" />
					</p:selectOneMenu>
				</div>
				<div class="col-md-1">
					<p:spacer height="5" />
				</div>
				<h:panelGroup id="clubDescriptionContact">
					<div class="col-md-13">
						<p:outputLabel value="#{i18n['lbl.description']}" />
						<p:inputText value="#{clubController.contactDescription}"
							maxlength="128"
							rendered="#{clubController.club.contactOther(clubController.contactType)}" />
						<p:inputText value="#{clubController.contactDescription}"
							maxlength="128" validator="validatorEmail"
							rendered="#{clubController.club.contactMail(clubController.contactType)}" />
						<p:inputText value="#{clubController.contactDescription}"
							maxlength="12" styleClass="celular" converter="telefoneConverter"
							onfocus="aplicarMascarasDefault()"
							rendered="#{clubController.club.contactPhone(clubController.contactType)}" />
					</div>
				</h:panelGroup>
				<div class="col-md-2 right">
					<div class="col-md-24">
						<p:spacer height="5" />
					</div>
					<div class="col-md-24">
						<p:commandButton
							icon="ui-icon-plus" 
							process="clubContactForm"
							update="clubContactList clubContactForm :formClubs:clubMessages"
							action="#{clubController.addNewContact()}" />
					</div>
				</div>
				<br />
				<div class="row clear" />
				<div class="row">
					<div class="col-md-24">
						<p:dataList value="#{clubController.club.contacts}"
							var="varClubContact" id="clubContactList"
							emptyMessage="#{i18n['lbl.insert.club.contact']}"
							type="unordered" itemType="none">
							<p:commandButton
								action="#{clubController.removeClubContact(varClubContact)}"
								icon="ui-icon-trash" process="clubContactList"
								update="clubContactList :formClubs:clubMessages"
								style="margin-right:10px" />
							<h:outputText value="#{varClubContact.description} " />
							<h:outputText value="#{i18n['lbl.dash']} " />
							<h:outputText value="#{i18n[varClubContact.type]} " />
						</p:dataList>
					</div>
				</div>
			</p:fieldset>
		</div>
	</div>
	<br />
</f:view>