<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form>
				<div class="row center">
					<center>
						<img class="clubImageList"
							src="#{clubController.clubImage(clubController.clubDetail)}">
						</img>
					</center>
				</div>
				<div class="row center">
					<div class="col s12 ">
						<h5>#{clubController.clubDetail.name.toUpperCase()}</h5>
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.address']}:" />
						<br />
						<h:outputText escape="false"
							value="#{clubController.clubDetail.formattedAddress()}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.contacts']}" />
						<br />
						<h:outputText escape="false"
							value="#{clubController.clubDetail.formattedContacts()}" />
					</div>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>