<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form>
				<div class="row">
					<ui:repeat varStatus="clubModelIndex" var="clubModel"
						value="#{clubController.publicClubList}">
						<div class="hide-on-med-and-up">
							<ui:include src="/pages/club/_clubContent.xhtml" />
						</div>
						<div class="col m6 s12 hide-on-med-and-down">
							<ui:include src="/pages/club/_clubContent.xhtml" />
						</div>
						<h:panelGroup rendered="#{clubModelIndex.odd}">
							<div class="row">
								<p:spacer height="5" />
							</div>
						</h:panelGroup>
					</ui:repeat>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>