<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formClubs">
				<div class="row">
					<div style="float: left;">
						<h:outputText styleClass="col-md-24" style="font-size: 1.6em"
							value="#{i18n['lbl.clubs']}" />
					</div>
					<h:panelGroup rendered="#{!clubController.editingMode}">
						<div style="float: left; margin-left: 10px">
							<p:menuButton value="#{i18n['lbl.options']}">
								<p:menuitem action="#{clubController.initCreate()}"
									value="#{i18n['lbl.new.register']}" icon="ui-icon-document"
									update="@form" resetValues="true" global="false" />
							</p:menuButton>
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{clubController.editingMode}">
						<div style="float: left; margin-left: 10px">
							<p:commandButton action="#{clubController.insert()}"
								rendered="#{clubController.isNewRegister()}"
								value="#{i18n['act.save']}" icon="ui-icon-plus" process="@form"
								update="@form" style="margin-right:10px"
								oncomplete="aplicarMascarasDefault()" />
							<p:commandButton action="#{clubController.update()}"
								rendered="#{clubController.isNotNewRegister()}"
								value="#{i18n['act.update']}" icon="ui-icon-disk"
								process="@form" update="@form" style="margin-right:10px"
								oncomplete="aplicarMascarasDefault()" />
						</div>
						<div style="float: left; margin-left: 10px">
							<p:commandButton action="#{clubController.resetForm()}"
								value="#{i18n['act.cancel']}" icon="ui-icon-cancel"
								oncomplete="aplicarMascarasDefault()" update=":formClubs"
								process="@this" global="false">
								<p:resetInput target=":formClubs" />
							</p:commandButton>
						</div>
					</h:panelGroup>
				</div>
				<div class="row">
					<div class="col-md-24">
						<p:growl  id="clubMessages" closable="true" />
					</div>
				</div>
				<p:accordionPanel id="detailsFormClub"
					activeIndex="#{clubController.closeFormDetail}">
					<p:tab title="">
						<ui:include src="/pages/club/_formClub.xhtml" />
					</p:tab>
				</p:accordionPanel>
				<div class="row">
					<br />
					<div class="col-md-24">
						<p:dataTable paginatorPosition="top" id="clubsTable"
							var="clubTableObject" dynamic="true" paginator="true" lazy="true"
							emptyMessage="#{i18n['msg.nenhum.registro']}"
							value="#{clubController.clubList}"
							rows="#{sessionBean.dataTableRows}" pageLinks="4"
							rowsPerPageTemplate="5,10,20,30"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<div class="subTitulo">
									<h:outputText value="#{i18n['lbl.clubs.registred']}"
										class="labelSubTitle" />
								</div>
							</f:facet>
							
							<p:column headerText="#{i18n['lbl.actions']}" width="10%">
								<center>
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.edit']}"
										action="#{clubController.preEdit(clubTableObject.id)}"
										process="@this" oncomplete="aplicarMascarasDefault()"
										icon="ui-icon-pencil" update=":formClubs" />
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.delete']}"
										action="#{clubController.openDelete(clubTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-trash" update=":formClubs, clubsTable" />
								</center>
							</p:column>

							<p:column headerText="#{i18n['lbl.name']}"
								sortBy="#{clubTableObject.name}" width="30%">
								<h:outputText value="#{clubTableObject.name}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.president']}"
								sortBy="#{clubTableObject.president}" width="25%">
								<h:outputText value="#{clubTableObject.president}" />
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</h:form>
			<ui:include src="/templates/_dlgMediaUpload.xhtml"/>
		</ui:define>
	</ui:composition>
</f:view>