<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formUsers">
				<div class="row">
					<div style="float: left;">
						<h:outputText styleClass="col-md-24" style="font-size: 1.6em"
							value="#{i18n['lbl.users']}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-24">
						<p:growl  closable="true" />
					</div>
				</div>
				<div class="row">
					<br />
					<div class="col-md-24">
						<p:dataTable paginatorPosition="top" id="usersTable"
							var="userTableObject" dynamic="true" paginator="true" lazy="true"
							emptyMessage="#{i18n['msg.nenhum.registro']}"
							value="#{userController.userList}"
							rows="#{sessionBean.dataTableRows}" pageLinks="4"
							rowsPerPageTemplate="5,10,20,30"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<div class="subTitulo">
									<h:outputText value="#{i18n['lbl.users.registred']}"
										class="labelSubTitle" />
								</div>
							</f:facet>
							
							<p:column headerText="#{i18n['lbl.actions']}" width="10%">
								<center>
									<p:commandButton rendered="#{userController.userActive(userTableObject)}" styleClass="btn_grid"
										title="#{i18n['act.suspend']}"
										action="#{userController.openSuspend(userTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-cancel" update=":formUsers, usersTable" />
									<p:commandButton rendered="#{userController.userInactive(userTableObject)}" styleClass="btn_grid"
										title="#{i18n['act.activate']}"
										action="#{userController.openActivate(userTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-circle-check" update=":formUsers, usersTable" />
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.delete']}"
										action="#{userController.openDelete(userTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-trash" update=":formUsers, usersTable" />
								</center>
							</p:column>

							<p:column headerText="#{i18n['lbl.name']}"
								sortBy="#{userTableObject.name}" width="40%">
								<h:outputText value="#{userTableObject.name}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.email']}"
								sortBy="#{userTableObject.email}" width="40%">
								<h:outputText value="#{userTableObject.email}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.situation']}"
								sortBy="#{userTableObject.situation}"  width="10%">
								<h:outputText value="#{i18n[userTableObject.situation]}" />
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>