.titulo {
	color: black;
	float: left;
	font-size: 1em;
	padding-top: 6px;
	padding-left: 15px;
}

.subTitulo {
	width: 100%;
	height: 20px;
}

.labelSubTitle {
	float: left;
}

.ui-grid {
	margin-left: 2%;
	margin-right: 2%;
}

.ui-row-editor:after {
	clear: none;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.btn_header {
	padding-top: 4px;
	margin-bottom: 4px;
}

body {
	/* 	font-size: 0.8em */
	
}

.ui-widget {
	font-size: 0.9em;
}

.ui-dialog .ui-dialog-title {
	padding: 0.1em 16px 0.1em 0;
}

.ui-button {
	padding: 4px;
}

.ui-button.btn_grid {
	padding: 0px !important;
}

.ui-inputfield {
	width: 100%;
}

.ui-inputfield.ui-inputtextarea {
	height: initial !important;
}

.ui-datepicker-trigger.ui-button.ui-widget {
    float: right !important;
    height: 26px !important;
    margin-right: 0 !important;
    margin-top: -27px !important;
}

.ui-radiobutton-icon.ui-icon.ui-icon-bullet {
	margin-top: -1px;
	margin-left: -0.3px;
}

.ui-autocomplete {
	width: 100% !important;
}

.ui-autocomplete-input {
	width: 100% !important;
}

.ui-selectonemenu {
	width: 100% !important;
}

.ui-selectonemenu-label {
	width: 100% !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 25px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 8px !important;
}

.ui-fieldset-personalizado>.ui-fieldset, .ui-fieldset .ui-fieldset-legend
	{
	font-size: 1.1em;
	margin-bottom: 0;
	padding: 0.1em 0.5em;
	text-align: center;
}

.ui-chkbox .ui-chkbox-label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 5px;
	outline: medium none;
	vertical-align: top;
	z-index: 1;
}

.ui-selectmanycheckbox label, .ui-selectoneradio label {
	display: block;
	margin-left: 4px;
	margin-top: 2px;
}

.container-fluid {
	padding-left: 4em;
	padding-right: 4em;
}

.inteiro {
	text-align: right;
}

.numero {
	text-align: right;
}

.calendar_grid_medium_disabled>input {
	width: 98%;
}

.calendar_grid_medium>input {
	width: 85%;
}

.calendar_input_medium_disabled>input {
	width: 98%;
}

.calendar_input_medium>input {
	width: 85%;
	float: left;
}

.label-right {
	text-align: right;
	padding-top: 7px;
	padding-right: 3px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.dialog-container{
	padding-left: 0em;
	padding-right: 0em;
}

label {
	margin-top: 5px;
	margin-bottom: 0px;
}

.ui-dialog.ui-widget-content .ui-dialog-title {
	font-size: 1em;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	padding: 4px 10px;
}

.ui-menu {
    outline: 0 none;
    padding: 0.3em;
    position: relative;
    width: auto;
}

.ui-menu .ui-menuitem {
	padding: 0 1em;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar-close {
	margin-top: 4px;
}

.content form {
	padding-top: 20px;
}

.ui-widget-content .maskMonetaria{
    text-align: right;
    width: 100%;
    float: left;
}

.content.ui-div-scroll {
	position: fixed;
    top: 51px;
    bottom: 5px;
    left: 0;
    right: 0;
    overflow:auto;
}

html,body{
    height: 100%;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 3px 7px;
}

.ui-accordion .ui-accordion-header.ui-state-default {
    border: 0 none;
    margin-bottom: 2px;
}

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    display: inline;
    margin-top: 1px;
    min-height: 0;
    padding: 0;
    position: relative;
}

.ui-datalist-content {
    background: #ffffff none repeat scroll 0 0;
    border: none;
    color: #333333;
}

ul, ol {
    margin-bottom: 0;
    padding-left: 6px;
}

.ui-datascroller .ui-datascroller-content {
    padding: 4px 10px;
    display: inline-table;
    width: 100%;
}

.ui-datascroller .ui-datascroller-loader {
	text-align: center;
	padding: 4px 10px;
	clear: both;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    margin: 1px;
    padding: 3px;
    float: left;
}