#menu .navbar{
	background: rgba(226, 238, 252, 1);
    background: -moz-linear-gradient(top, rgba(226, 238, 252, 1) 0%, rgba(114, 171, 162, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 238, 252, 1)), color-stop(100%, rgba(114, 171, 162, 1)));
    background: -webkit-linear-gradient(top, rgba(226, 238, 252, 1) 0%, rgba(114, 171, 162, 1) 100%);
    background: -o-linear-gradient(top, rgba(226, 238, 252, 1) 0%, rgba(114, 171, 162, 1) 100%);
    background: -ms-linear-gradient(top, rgba(226, 238, 252, 1) 0%, rgba(114, 171, 162, 1) 100%);
    background: linear-gradient(to bottom, rgba(226, 238, 252, 1) 0%, rgba(114, 171, 162, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffef0f', endColorstr='#ffc905', GradientType=0 );
    border:none;
    border-radius: 0;
    min-height: 48px;
    margin-bottom: 0;
}

#menu.ui-shadow, #menu .navbar .ui-menu.ui-menubar{
	background: none !important;
	border:none !important;
    border-radius: 0 !important;
    -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-ms-filter: none !important;
	filter: none !important;
}

#menu .navbar .ui-menuitem-text{
	font-size:1.3em;
	color: #000;
}

#menu .navbar .ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover{
	background:none;	
}

#menu .ui-menu .ui-menu-parent .ui-menu-child{
	width: auto !important;
	padding: 5px 0.3em;
}