@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800');
@global-font-size: 12px;

@primary-color: #2a69ff;
@secundary-color: #0c54ff;
@tertiary-color: rgb(86, 95, 102);

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-size: @global-font-size;
}

.ps-ribbon-nav {
    background-color: @secundary-color;
    font-family: 'Montserrat', sans-serif !important;
    font-size: @global-font-size - 4;
    font-weight: bold;
    height: 34px;
    text-transform: uppercase;

    .ps-ribbon-nav__wrapper {
        height: 34px;
        line-height: 34px;

        i {
            height: 34px;
            line-height: 34px;
        }
    }
}

.ps-nav {
    font-family: 'Montserrat', sans-serif;
    background-color: @primary-color;
    box-shadow: none;

    .ps-nav__brand-logo {
        font-weight: 500;
        text-transform: uppercase;
        font-size: @global-font-size + 10;
    }

    ul {
        a {
            font-weight: 500;
            font-size: @global-font-size - 2 !important;
            text-transform: uppercase;
        }
    }
}

.ps-hero {
    height: 500px;
    background-image: url('../img/bg-01-2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 40%;
    // -webkit-filter: grayscale(100%);
    // filter: gray;
    text-align: center;

    .ps-hero__overlay {
        height: 500px;

        .ps-hero__overlay-title {
            font-weight: 600;
            color: #fff;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        form {
            display: inline-flex;

            select {
                margin-right: 5px;
                width: 400px;
            }

            .btn {
                height: 45px;
                line-height: 45px;
            }
        }
    }
}

.ps-block {
    padding-top: 50px;
    padding-bottom: 50px;

    .ps-block__title {
        font-size: @global-font-size + 12;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;

        .ps-line {
            width: 100px;
            margin: 0 auto;
        }
    }

    .ps-block__content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.ps-line {
    border-bottom: 4px solid @primary-color;
}

.ps-features {
    text-align: center;

    .ps-features__box {
        padding: 25px;

        img {
            width: 10%;
        }

        .ps-features__box-title,
        .ps-features__box-title a {
            color: @primary-color;
            font-weight: bold;
        }
    }
}

.ps-events {
    background-color: #F9FAFA;
    text-align: center;

    .ps-events__list {

    }
}

// Cards

.ps-card {
    box-shadow: none !important;
    border: 1px solid rgb(220, 220, 220) !important;

    .ps-card__image {
        height: 30% !important;
        margin: 0 auto;
        padding: 10px;
    }

    .ps-card__title {
        color: @tertiary-color;
        font-weight: bold;
        font-size: @global-font-size + 4;
        text-align: center;

        label {
            color: @tertiary-color;
        }
    }

    .ps-card__content {
        text-transform: none;
        font-size: @global-font-size - 2;

        label {
            color: @tertiary-color;
        }

        .card-content__title {
            font-weight: bold;
            margin-top: -20px;
            margin-bottom: 20px;
        }

        .ps-card__row {
            margin-bottom: 0px;
        }
    }
}

// Utilities

.ps-u-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ps-u-aligner__item {
    max-width: 50%;
}

.ps-u-aligner__item--top {
    align-self: flex-start;
}

.ps-u-aligner__item-bottom {
    align-self: flex-end;
}

.ps-blue {
    background-color: @primary-color !important;
    color: rgb(255, 255, 255);
}

// Materialize

.card {
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 1px 0 rgba(0,0,0,0.12), 0 0px 1px -1px rgba(0,0,0,0.2);
}

.btn {
    font-size: @global-font-size - 2 !important;
    font-weight: bold;
    padding: 0 15px 0 15px;
    background-image: none;
    text-shadow: none;

    span {
        display: none;

    }
}

.btn-fluid {
    width: 100% !important;
}

input, label {
    font-size: @global-font-size !important;
}

.input-field {
    input.ui-inputfield.ui-state-error {
        border: 0;
        border-bottom: 1px solid #F44336;
        box-shadow: 0 1px 0 0 #F44336;
    }

    input.ui-inputfield.ui-state-error + label {
        color: #F44336;
    }
}

// Primefaces

.ui-messages-error, .ui-message-error {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.8);
    border: 0;
    font-size: @global-font-size;

    .ui-icon-close {
        color: rgba(244, 67, 54, 1) !important;
    }
}

.ui-messages-error {
    .ui-messages-error-icon {
        visibility: hidden;
    }
}