@import
	url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800')
	;

html, body {
	height: 100%;
}

body {
	background-color: #fff;
	font-size: 12px;
}

.ps-ribbon-nav {
	background-color: #0c54ff;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 8px;
	font-weight: bold;
	height: 34px;
	text-transform: uppercase;
}

.ps-ribbon-nav .ps-ribbon-nav__wrapper {
	height: 34px;
	line-height: 34px;
}

.ps-ribbon-nav .ps-ribbon-nav__wrapper i {
	height: 34px;
	line-height: 34px;
}

.ps-nav {
	font-family: 'Montserrat', sans-serif;
	background-color: #2a69ff;
	box-shadow: none;
}

.ps-nav .ps-nav__brand-logo {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 22px;
}

.ps-nav ul a {
	font-weight: 500;
	font-size: 10px !important;
	text-transform: uppercase;
}

.ps-hero {
	height: 500px;
	background-image: url('../img/bg-01-2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 40%;
	text-align: center;
}

.ps-hero .ps-hero__overlay {
	height: 500px;
}

.ps-hero .ps-hero__overlay .ps-hero__overlay-title {
	font-weight: 600;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.ps-hero .ps-hero__overlay form {
	display: inline-flex;
}

.ps-hero .ps-hero__overlay form select {
	margin-right: 5px;
	width: 400px;
}

.ps-hero .ps-hero__overlay form .btn {
	height: 45px;
	line-height: 45px;
}

.ps-block {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ps-block .ps-block__title {
	font-size: 24px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

.ps-block .ps-block__title .ps-line {
	width: 100px;
	margin: 0 auto;
}

.ps-block .ps-block__content {
	padding-top: 10px;
	padding-bottom: 20px;
}

.ps-line {
	border-bottom: 4px solid #2a69ff;
}

.ps-features {
	text-align: center;
}

.ps-features .ps-features__box {
	padding: 25px;
}

.ps-features .ps-features__box img {
	width: 10%;
}

.ps-features .ps-features__box .ps-features__box-title, .ps-features .ps-features__box .ps-features__box-title a
	{
	color: #2a69ff;
	font-weight: bold;
}

.ps-events {
	background-color: #F9FAFA;
	text-align: center;
}

.ps-card .ps-card__image {
	height: 30% !important;
	margin: 0 auto;
	padding: 10px;
}

.ps-card .ps-card__title {
	color: #565f66;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.ps-card .ps-card__title label {
	color: #565f66;
}

.ps-card .ps-card__content {
	text-transform: none;
	font-size: 10px;
}

.ps-card .ps-card__content label {
	color: #565f66;
}

.ps-card .ps-card__content .card-content__title {
	font-weight: bold;
	margin-top: -20px;
	margin-bottom: 20px;
}

.ps-card .ps-card__content .ps-card__row {
	margin-bottom: 0px;
}

.ps-u-aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ps-u-aligner__item {
	max-width: 50%;
}

.ps-u-aligner__item--top {
	align-self: flex-start;
}

.ps-u-aligner__item-bottom {
	align-self: flex-end;
}

.ps-blue {
	background-color: #2a69ff !important;
	color: #ffffff;
}

.card {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.btn {
	font-size: 10px !important;
	font-weight: bold;
	padding: 0 15px 0 15px;
	background-image: none;
	text-shadow: none;
}

.btn span {
	display: none;
}

.btn-fluid {
	width: 100% !important;
}

input, label {
	font-size: 12px !important;
}

.input-field input.ui-inputfield.ui-state-error {
	border: 0;
	border-bottom: 1px solid #F44336;
	box-shadow: 0 1px 0 0 #F44336;
}

.input-field input.ui-inputfield.ui-state-error+label {
	color: #F44336;
}

.ui-messages-error, .ui-message-error {
	color: #fff;
	background-color: rgba(244, 67, 54, 0.8);
	border: 0;
	font-size: 12px;
}

.ui-messages-error .ui-icon-close, .ui-message-error .ui-icon-close {
	color: #f44336 !important;
}

.ui-messages-error .ui-messages-error-icon {
	visibility: hidden;
}

.ui-dialog {
	background-color: white;
	margin: 5px;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 0 0 0 .4em;
	font-size: medium;
	font-style: italic;
	border-bottom: solid 1px #CCC;
}

.ui-selectonemenu {
	width: 100%;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 28px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	box-shadow: inset 0 0px 0px #8f8f8f;
	height: 1rem !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 0;
	border-bottom: 1px solid #9e9e9e;
}

.ui-state-hover {
	border: 0;
	border-bottom: 1px solid #9e9e9e;
}

.clubImageList {
	max-height: 200px;
	max-width: 200px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 0;
	margin-left: 2px;
}

.input-field {
	margin-top: 0 !important;
}

.row {
	margin-bottom: 0px;
}

.ui-shadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid #ccc;
	background: white;
	color: black;
}

.ui-growl-image {
	display: none !important;
}

.ui-growl-item-container {
	margin: 0 0 3px 0 !important;
}

.ui-growl-title {
	padding: 0 0 0px 0 !important;
}

.ui-growl-message {
	padding: 0;
	width: 100%;
	font-size: smaller;
}

.ui-state-error {
	border: 0;
	border-bottom: 1px solid #F44336 !important;
	box-shadow: 0 1px 0 0 #F44336 !important;
}

.ui-datepicker .ui-datepicker-header {
	height: 30px;
}

.ui-datepicker .ui-datepicker-title select {
	display: inline;
	height: auto;
}

.ui-autocomplete {
	width: 100%;
}

input:not ([type] ):disabled, input:not ([type] )[readonly="readonly"],
	input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled,
	input[type=password][readonly="readonly"], input[type=email]:disabled,
	input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"],
	input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled,
	input[type=date][readonly="readonly"], input[type=datetime]:disabled,
	input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled,
	input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled,
	input[type=tel][readonly="readonly"], input[type=number]:disabled,
	input[type=number][readonly="readonly"], input[type=search]:disabled,
	input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled,
	textarea.materialize-textarea[readonly="readonly"] {
	color: black;
	border-bottom: 1px dotted black;
}

.ui-chkbox .ui-chkbox-label {
	margin: 0px 0 0 3px;
	color: #9e9e9e;
}

.ui-chkbox .ui-chkbox-box {
	border: 1px solid #9e9e9e;
	background: transparent;
}

.ui-menu .ui-menuitem-link {
	width: auto;
	padding: 0;
}

.ui-menu {
	width: auto;
	padding: 1px 5px 0px 1px;
}

.card .card-image .card-title {
	width: 100%;
	padding: 10px;
}

.card .card-content {
	padding: 10px;
}

.eventImageList {
	max-width: 200px;
	max-height: 200px;
}

.card .card-image img {
	width: auto;
}

input:not ([type] ), input[type=text], input[type=password], input[type=email],
	input[type=url], input[type=time], input[type=date], input[type=datetime],
	input[type=datetime-local], input[type=tel], input[type=number], input[type=search],
	textarea.materialize-textarea {
	height: 1rem !important;
}

.backgroundItem {
	background: aliceblue;
	padding-top: 3px;
}

input:not ([type] ):disabled, input:not ([type] )[readonly="readonly"],
	input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled,
	input[type=password][readonly="readonly"], input[type=email]:disabled,
	input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"],
	input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled,
	input[type=date][readonly="readonly"], input[type=datetime]:disabled,
	input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled,
	input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled,
	input[type=tel][readonly="readonly"], input[type=number]:disabled,
	input[type=number][readonly="readonly"], input[type=search]:disabled,
	input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled,
	textarea.materialize-textarea[readonly="readonly"] {
	color: black;
	border-bottom: 1px dotted black;
}

.padding-off {
	padding: 0 !important;
}

.ui-menu .ui-menuitem {
	margin: 10px 0;
}

.ui-state-disabled {
    color: black !important;
	border-bottom: 1px dotted black !important;
}

.ui-selectonemenu label.ui-selectonemenu-label {
    padding: 0px;
}

.padding-right-off {
	padding-right: 0 !important;
}

.padding-left-off {
	padding-left: 0 !important;
}