<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)"
		id="#{dialogoConfirmacaoBean.dialogId()}"
		widgetVar="#{dialogoConfirmacaoBean.dialogName()}" responsive="true"
		resizable="false" appendTo="@(body)" closable="false" modal="true"
		header="#{dialogoConfirmacaoBean.defaultHeader}">

		<div class="row">
			<div class="col-md-24">
				<h:form id="#{dialogoConfirmacaoBean.formName()}">
					<div class="col-md-24" style="text-align: center;">
						<h:outputText escape="false"
							value="#{dialogoConfirmacaoBean.message}" />
					</div>
					<div class="col-md-24">
						<p:separator />
					</div>
					<div class="col-md-24">
					<div style="float:right">
						<p:commandButton value="#{i18n['lbl.sim']}" process="@this"
							onstart="PF('spinner').show()" oncomplete="PF('spinner').hide()" immediate="true"
							binding="#{dialogoConfirmacaoBean.confirmButton}" styleClass="waves-effect waves-light btn" />
						<p:commandButton value="#{i18n['lbl.nao']}" process="@this" immediate="true"
							onstart="PF('spinner').show()" oncomplete="PF('spinner').hide()"
							binding="#{dialogoConfirmacaoBean.cancelButton}" 
							styleClass="waves-effect waves-light btn"/>
						<p:hotkey bind="esc" binding="#{dialogoConfirmacaoBean.cancelHotKey}" />
					</div>
					</div>
				</h:form>
			</div>
		</div>
	</p:dialog>
</f:view>