<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<p:dialog positionType="@(absolute)" closable="true"
		id="dialogoTimeout" header="Informação" appendTo="@(body)"
		widgetVar="dialogoTimeout" modal="true" minHeight="210" responsive="true"
		resizable="false" closeOnEscape="true" onHide="KeepSessionAlive()">
		<h:form id="formTimeout">
			<div class="row">
				<div id="formTimeout:mensagem" class="col-md-24" style="text-align: center;">
					<h:outputText value="#{dialogoInformacaoBean.mensagem}"
						escape="false" />
				</div>
				<div class="col-md-24">
					<p:separator />
				</div>
				<div class="col-md-24">
					<div style="float: right">
						<p:commandButton value="#{i18n['act.fechar']}"
							onclick="PF('dialogoTimeout').hide();" type="button" 
							styleClass="waves-effect waves-light btn"/>
						<p:commandButton id="btn-timeout-alive" action="#{sessionBean.keepAlive}" process="@this" style="display:none"  />
						<p:commandButton id="btn-timeout-end" action="#{sessionBean.logoutInatividade}" process="@this" style="display:none"  />
					</div>
				</div>
			</div>
			<p:hotkey bind="esc" handler="PF('dialogoTimeout').hide()" />
		</h:form>
	</p:dialog>
</f:view>