<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)"
		id="#{mediaUploadController.dialogId()}"
		widgetVar="#{mediaUploadController.dialogName()}" responsive="true"
		resizable="false" appendTo="@(body)" closable="false" modal="true"
		header="#{mediaUploadController.defaultHeader}" closeOnEscape="true">

		<div class="row">
			<div class="col-md-24">
				<h:form id="#{mediaUploadController.formName()}">
					<div class="col-md-24">
						<p:growl  escape="false" closable="true" />
					</div>
					<div class="col-md-24">
						<p:fileUpload label="#{i18n['lbl.select']}"
							uploadLabel="#{i18n['lbl.upload']}"
							cancelLabel="#{i18n['lbl.cancel']}"
							fileUploadListener="#{mediaUploadController.handleFileUpload}"
							mode="advanced" dragDropSupport="false" update="@form"
							sizeLimit="100000" fileLimit="3"
							allowTypes="/(\.|\/)(jpg|jpeg|png)$/" />
					</div>
					<div class="col-md-24">
						<p:separator />
					</div>
					<div class="col-md-24">
						<div style="float: right">
							<p:commandButton value="#{i18n['lbl.confirm']}" process="@this"
								onstart="PF('spinner').show()" oncomplete="PF('spinner').hide()"
								immediate="true"
								binding="#{mediaUploadController.confirmButton}"
								styleClass="waves-effect waves-light btn" />
							<p:commandButton value="#{i18n['lbl.cancel']}" process="@this"
								styleClass="waves-effect waves-light btn"
								immediate="true" onstart="PF('spinner').show()"
								oncomplete="PF('spinner').hide()"
								binding="#{mediaUploadController.cancelButton}" />
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</p:dialog>
</f:view>