<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="pt_BR">
	<div class="card">
		<div class="card-image center">
			<center>
				<img class="eventImageList"
					src="#{clubController.clubImage(nextEventModel.club)}" alt="" />
			</center>
		</div>
		<div class="card-content">
			<div class="row center">
				<h5>#{nextEventModel.club.name.toUpperCase()}</h5>
			</div>
			<div class="row center">#{nextEventModel.name.toUpperCase()}</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.days']}:" />
				<br />
				<h:outputText value="#{nextEventModel.days}" />
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.modalitys']}:" />
				<br />
				<h:outputText value="#{nextEventModel.formattedModalities()}" />
			</div>
		</div>
		<div class="card-action">
			<p:commandButton
				styleClass="waves-effect waves-light btn btn-flat blue ps-blue"
				value="#{i18n['lbl.detail']}"
				action="#{eventController.openEventDetail(nextEventModel.id)}" />
		</div>
	</div>
</f:view>
</html>