<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="pt_BR">
	<h:panelGroup rendered="#{sessionBean.loggedUser != null}">
		<h:form id="formMenuHeader">
			<a style="margin-left: -10px;" href="#" data-activates="mobile-menu" class="button-collapse"><i class="fa fa-bars fa-2x"></i></a>
			<ul class="right hide-on-med-and-down">
				<li><p:commandLink ajax="false" value="#{i18n['lbl.home']}"
						action="#{sessionBean.goToPage('/home.jsf')}" /></li>
				<li><p:commandLink ajax="false" value="#{i18n['lbl.events']}"
						action="#{sessionBean.goToPage('/pages/event/list.jsf')}" /></li>
				<li><p:commandLink ajax="false" value="#{i18n['lbl.clubs']}"
						action="#{sessionBean.goToPage('/pages/club/list.jsf')}" /></li>
				<li><p:commandLink ajax="false" rendered="#{courseController.hasCourseRegistred()}" value="#{i18n['lbl.courses']}"
						action="#{sessionBean.goToPage('/pages/course/show.jsf')}" /></li>
				<li><p:commandLink ajax="false" rendered="#{instructorController.hasInstructorRegistred()}" value="#{i18n['lbl.students']}"
						action="#{sessionBean.goToPage('/pages/instructor/show.jsf')}" /></li>
				<li><p:commandLink ajax="false"
						value="#{i18n['lbl.instructors']}"
						action="#{sessionBean.goToPage('/pages/instructor/list.jsf')}" /></li>
			</ul>
			<ul class="side-nav" id="mobile-menu">
				<li><p:commandLink ajax="false" value="#{i18n['lbl.home']}"
						action="#{sessionBean.goToPage('/home.jsf')}" /></li>
				<li><p:commandLink ajax="false" value="#{i18n['lbl.events']}"
						action="#{sessionBean.goToPage('/pages/event/list.jsf')}" /></li>
				<li><p:commandLink ajax="false" value="#{i18n['lbl.clubs']}"
						action="#{sessionBean.goToPage('/pages/club/list.jsf')}" /></li>
				<li><p:commandLink ajax="false" rendered="#{courseController.hasCourseRegistred()}" value="#{i18n['lbl.courses']}"
						action="#{sessionBean.goToPage('/pages/course/show.jsf')}" /></li>
				<li><p:commandLink ajax="false" rendered="#{instructorController.hasInstructorRegistred()}" value="#{i18n['lbl.students']}"
						action="#{sessionBean.goToPage('/pages/instructor/show.jsf')}" /></li>
				<li><p:commandLink ajax="false"
						value="#{i18n['lbl.instructors']}"
						action="#{sessionBean.goToPage('/pages/instructor/list.jsf')}" /></li>
			</ul>
		</h:form>
		<script>
			$( document ).ready(function () {
				$(".button-collapse").sideNav();
			});
		</script>
	</h:panelGroup>
</f:view>
</html>