<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="pt_BR">
	<h:panelGroup rendered="#{sessionBean.loggedUser != null}">
		<div class="col-md-18"
			style="font-size: smaller; text-align: right; padding: 7px 0;">
			<h:form id="formMenuHeader">
				<p:menubar>
					<p:menuitem value="#{i18n['lbl.home']}" url="/home.jsf" />
					<p:menuitem value="#{i18n['lbl.events']}"
						url="/pages/event/list.jsf" />
					<p:menuitem value="#{i18n['lbl.clubs']}" url="/pages/club/list.jsf" />
					<p:menuitem rendered="#{courseController.hasCourseRegistred()}" value="#{i18n['lbl.courses']}" url="/pages/course/show.jsf" />
					<p:menuitem rendered="#{instructorController.hasInstructorRegistred()}" value="#{i18n['lbl.students']}" url="/pages/instructor/show.jsf" />
					<p:menuitem value="#{i18n['lbl.instructors']}"
						url="/pages/instructor/list.jsf" />
					<p:submenu label="#{i18n['lbl.registers']}">
						<p:menuitem value="#{i18n['lbl.users']}"
							url="/pages/user/show.jsf" />
						<p:menuitem value="#{i18n['lbl.events']}"
							url="/pages/event/show.jsf" />
						<p:menuitem value="#{i18n['lbl.clubs']}"
							url="/pages/club/show.jsf" />
						<p:menuitem value="#{i18n['lbl.instructors']}"
							url="/pages/instructor/show.jsf" />
						<p:menuitem value="#{i18n['lbl.partners']}"
							url="/pages/partner/show.jsf" />
						<p:menuitem value="#{i18n['lbl.useful.links']}" url="#" />
						<p:menuitem value="#{i18n['lbl.modalitys']}" url="#" />
						<p:menuitem value="#{i18n['lbl.participants']}" url="#" />
					</p:submenu>
				</p:menubar>
			</h:form>
		</div>
		<div class="col-md-4">
			<p:spacer rendered="#{sessionBean.loggedUser == null}" height="1" />
			<div class="col-md-24" style="padding-top: 2px">
				<h:outputText value="#{i18n['lbl.welcome.user']}" />
			</div>
			<div class="col-md-24">
				<h:outputText value="#{sessionBean.loggedUser.name}" />
			</div>
		</div>
		<div class="col-md-1" style="text-align: center;">
			<h:form id="formLogoutHeader"
				rendered="#{sessionBean.loggedUser != null}">
				<div class="col-md-24" style="padding-top: 2px">
					<p:commandLink value="#{i18n['lbl.profile']}"
						action="/pages/profile/show.jsf?faces-redirect=true" ajax="false" />
				</div>
				<div class="col-md-24">
					<p:commandLink value="#{i18n['lbl.logout']}"
						action="#{sessionBean.logout}" ajax="false" />
				</div>
			</h:form>
		</div>
	</h:panelGroup>
</f:view>
</html>