<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="pt_BR">
	<h:panelGroup rendered="#{sessionBean.loggedUser == null}">
		<div class="col-md-21"
			style="font-size: smaller; text-align: right; padding: 7px 0;">
			<h:form id="formPublicMenuHeader">
				<p:menubar>
					<p:menuitem value="#{i18n['lbl.home']}" url="/home.jsf" />
					<p:menuitem value="#{i18n['lbl.events']}"
						url="/pages/event/list.jsf" />
					<p:menuitem value="#{i18n['lbl.clubs']}" url="/pages/club/list.jsf" />
					<p:menuitem value="#{i18n['lbl.instructors']}" url="/pages/instructor/list.jsf" />
				</p:menubar>
			</h:form>
		</div>
		<div class="col-md-2">
			<h:form style="font-size: smaller; text-align: center; padding:6px 0;">
				<p:commandLink ajax="false" action="/login.jsf" value="Entrar"/>
				<br/>
				<p:commandLink ajax="false" action="/pages/register/show.jsf" value="Cadastrar"/>
			</h:form>
		</div>
	</h:panelGroup>
</f:view>
</html>