<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<p:ajaxStatus onstart="PF('spinner').show()"
		onsuccess="PF('spinner').hide()" />
	<p:dialog widgetVar="spinner" closable="true" header="Processando" responsive="true"
		modal="true" height="30" resizable="false">
		<center>
			<img src="#{request.contextPath}/resources/images/spinner.gif" />
		</center>
	</p:dialog>
</f:view>