<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view locale="pt_BR">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{sessionBean.initConversation()}" />
		</f:metadata>
		<ui:insert name="header">
			<title>#{appInfoBean.nomeSistema()}</title>
		</ui:insert>
		<h:outputScript library="javax.faces" name="jsf.js" target="head" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/resources/css/bootstrap.min.css" />
		<script type="text/javascript"
			src="#{request.contextPath}/resources/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/resources/css/default.css" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/resources/css/menu.css" />
		<script type="text/javascript"
			src="#{request.contextPath}/resources/js/app.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/js/locales.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/js/jquery.maskMoney.js"></script>
		<script>
			function aplicarHintRowEditor() {
				jQuery(".ui-row-editor").find(".ui-icon.ui-icon-pencil").attr(
						"title", $("#rowEditorEditLabel").val());
				jQuery(".ui-row-editor").find(".ui-icon.ui-icon-check").attr(
						"title", $("#rowEditorCheckLabel").val());
				jQuery(".ui-row-editor").find(".ui-icon.ui-icon-close").attr(
						"title", $("#rowEditorCancelLabel").val());
			}
		</script>

	</h:head>
	<h:body>
		<input id="rowEditorEditLabel" type="hidden"
			value="#{i18n['act.editar']}"></input>
		<input id="rowEditorCheckLabel" type="hidden"
			value="#{i18n['act.salvar']}"></input>
		<input id="rowEditorCancelLabel" type="hidden"
			value="#{i18n['act.cancelar']}"></input>

		<h:panelGroup id="menu">
			<div class="navbar">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-1">
							<img src="#{request.contextPath}/resources/images/logo.png"
								width="45" />
						</div>

						<ui:include src="/templates/_menu.xhtml"/>
						<ui:include src="/templates/_public_menu.xhtml"/>
					</div>
				</div>
			</div>
		</h:panelGroup>

		<div class="container-fluid content ui-div-scroll ">
			<div class="row">
				<div class="col-md-24">
					<ui:insert name="body">
					</ui:insert>
				</div>
			</div>
			<div class="row">
				<ui:include src="/templates/footer.xhtml" />
			</div>
		</div>

		<ui:include src="/templates/_spinner.xhtml" />
		<ui:include src="/templates/_dialogoInformacao.xhtml" />
		<ui:include src="/templates/_dialogoConfirmacao.xhtml" />

		<h:panelGroup rendered="#{sessionBean.loggedUser != null}">
			<ui:include src="/templates/_dialogoTimeout.xhtml" />
			<p:idleMonitor timeout="300000" onidle="StartKeepSessionAlive()" />
		</h:panelGroup>
	</h:body>
</f:view>
</html>