<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui">
<f:view locale="pt_BR">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<f:metadata>
			<f:event type="preRenderView"
					 listener="#{sessionBean.initConversation()}" />
		</f:metadata>
		<ui:insert name="header">
			<title>#{appInfoBean.nomeSistema()}</title>
		</ui:insert>
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet"
			  href="#{request.contextPath}/resources/css/materialize.min.css"
			  media="screen,projection" />
		<link type="text/css" rel="stylesheet"
			  href="#{request.contextPath}/resources/css/style.css" />
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<h:outputScript library="javax.faces" name="jsf.js" target="head" />
		<script type="text/javascript"
				src="#{request.contextPath}/resources/js/app.js"></script>
		<script type="text/javascript"
				src="#{request.contextPath}/resources/js/locales.js"></script>
		<script type="text/javascript"
				src="#{request.contextPath}/resources/js/jquery.maskMoney.js"></script>
		<script>
            function aplicarHintRowEditor() {
                jQuery(".ui-row-editor").find(".ui-icon.ui-icon-pencil").attr(
                    "title", $("#rowEditorEditLabel").val());
                jQuery(".ui-row-editor").find(".ui-icon.ui-icon-check").attr(
                    "title", $("#rowEditorCheckLabel").val());
                jQuery(".ui-row-editor").find(".ui-icon.ui-icon-close").attr(
                    "title", $("#rowEditorCancelLabel").val());
            }
		</script>

	</h:head>
	<h:body>
		<input id="rowEditorEditLabel" type="hidden"
			   value="#{i18n['act.editar']}"></input>
		<input id="rowEditorCheckLabel" type="hidden"
			   value="#{i18n['act.salvar']}"></input>
		<input id="rowEditorCancelLabel" type="hidden"
			   value="#{i18n['act.cancelar']}"></input>

		<h:panelGroup id="menu">
			<nav class="ps-ribbon-nav">
				<div class="nav-wrapper ps-ribbon-nav__wrapper">
					<div class="container">
						<div class="left" style="float: left; padding-right: 5px;">
							<h:panelGroup rendered="#{sessionBean.loggedUser != null}">
								<div style="float: left; padding-right: 5px;">
									<h:outputText value="#{i18n['lbl.welcome.user']}" />
								</div>
								<div style="float: left; padding-right: 5px;">
									<h:outputText value="#{sessionBean.loggedUser.name}" />
								</div>
							</h:panelGroup>
							<h:panelGroup rendered="#{sessionBean.loggedUser == null}">
								<h:form>
									<ul class="right">
										<li><p:commandLink ajax="false" value="#{i18n['lbl.enter']}"
														   action="#{sessionBean.goToPage('/login.jsf')}" /></li>
										<li><p:commandLink ajax="false" value="#{i18n['lbl.register']}"
														   action="#{sessionBean.goToPage('/pages/register/show.jsf')}" /></li>
									</ul>
								</h:form>
							</h:panelGroup>
						</div>
						<h:form>
							<ul style="height: 30px" class="right">
								<h:panelGroup rendered="#{sessionBean.loggedUser != null}">
									<li><p:commandLink ajax="false"
													   title="#{i18n['lbl.profile']}"
													   action="#{sessionBean.goToPage('/pages/profile/show.jsf')}">
										<i class="fa fa-user fa-2x"></i>
									</p:commandLink></li>
									<li><p:commandLink ajax="false"
													   title="#{i18n['lbl.logout']}" action="#{sessionBean.logout}">
										<i class="fa fa-sign-out fa-2x"></i>
									</p:commandLink></li>
								</h:panelGroup>
								<li><a href="https://www.facebook.com/ctvv.com.br/" target="blank"> <i class="fa fa-facebook-official"></i></a>
								</li>
							</ul>
						</h:form>
					</div>
				</div>
			</nav>

			<nav class="ps-nav">
				<div class="nav-wrapper ps-nav__wrapper">
					<div class="container">
						<h:form>
						<p:commandLink styleClass="brand-logo ps-nav__brand-logo" ajax="false" value="#{appInfoBean.nomeSistema()}"
								action="#{sessionBean.goToPage('/home.jsf')}" />
						</h:form>
						<ui:include src="/templates/_menu.xhtml" />
						<ui:include src="/templates/_public_menu.xhtml" />
					</div>
				</div>
			</nav>
		</h:panelGroup>

		<div class="row">
			<ui:insert name="body">
			</ui:insert>
		</div>
		<div class="row">
			<ui:include src="/templates/footer.xhtml" />
		</div>

		<ui:include src="/templates/_spinner.xhtml" />
		<ui:include src="/templates/_dialogoInformacao.xhtml" />
		<ui:include src="/templates/_dialogoConfirmacao.xhtml" />

		<h:panelGroup rendered="#{sessionBean.loggedUser != null}">
			<ui:include src="/templates/_dialogoTimeout.xhtml" />
			<p:idleMonitor timeout="300000" onidle="StartKeepSessionAlive()" />
		</h:panelGroup>
		<script type="text/javascript"
				src="#{request.contextPath}/resources/js/materialize.min.js"></script>
	</h:body>
</f:view>
</html>