<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:body>
				<h:form id="formPrincipal">
					<div class="row">
						<div class="col-md-24">
							<p:toolbar id="tb">
								<f:facet name="left">
									<h:outputLabel value="Ops... Ocorreu um erro desconhecido" style="padding-left: 1em; padding-top: 0.2em; text-transform:uppercase" />
								</f:facet>
								<f:facet name="right">
									<p:commandButton value="#{i18n['act.reportar']}" action="#{errorHandlerBean.sendReport}"
										icon="ui-icon ui-icon-note" />
									<p:commandButton value="#{i18n['act.reportarEmail']}" action="#{errorHandlerBean.sendEmailReport}"
										icon="ui-icon ui-icon-mail-closed" />
								</f:facet>
							</p:toolbar>
						</div>
					</div>
					<div class="row clear"></div>
					<div class="row">
						<div class="col-md-9">
							<h:outputLabel value="#{i18n['lbl.login']}" />
						</div>
						<div class="col-md-6">
							<h:outputLabel value="#{i18n['lbl.enviar.copia']}" />
						</div>
						<div class="col-md-9">
							<h:outputLabel value="#{i18n['lbl.para']}" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-6">
							<p:inputSwitch value="#{errorHandlerBean.receberCopia}" 
								onLabel="#{i18n['lbl.sim']}" offLabel="#{i18n['lbl.nao']}" />
						</div>
						<div class="col-md-9">
							<p:inputText value="#{errorHandlerBean.emailPara}" />
						</div>
					</div>
					<div class="row clear"></div>
					<div class="row">
						<div class="col-md-24">
							<h:outputLabel value="#{i18n['lbl.detalhes']}" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-24">
							<p:inputTextarea value="#{errorHandlerBean.detalhes}"
								placeholder="#{i18n['lbl.placeholder.error']}"
								autoResize="false" rows="6" style="min-height: 10em;" />
						</div>
					</div>
					<div class="row clear"></div>
					<div class="row">
						<p:accordionPanel activeIndex="-1" multiple="true">
							<p:tab title="#{i18n['lbl.detalhes.tecnicos']}">
								<div class="col-md-24">
									<h:outputLabel value="#{i18n['lbl.mensagem']}" />
								</div>
								<div class="row clear"></div>
								<div class="col-md-24">
									<p:inputText value="#{errorHandlerBean.erro.message}"
										disabled="true"/>
								</div>
								<div class="row clear"></div>
								<div class="col-md-24">
									<h:outputLabel value="#{i18n['lbl.stacktrace']}" />
								</div>
								<div class="row clear"></div>
								<div class="col-md-24">
									<p:inputTextarea value="#{errorHandlerBean.erro.stackTrace}"
										disabled="true" autoResize="false" rows="6" style="min-height: 10em;" />
								</div>
							</p:tab>
						</p:accordionPanel>
					</div>
				</h:form>
			</h:body>
		</ui:define>
	</ui:composition>
</f:view>