<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formRegister">
				<div class="row center">
					<h:outputText style="font-size: 1.6em"
						value="#{i18n['lbl.title.register.candidate']}" />
				</div>

				<div class="row">
					<p:growl id="messages" closable="true" />
				</div>

				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.instructor']}" />
						<p:inputText value="#{candidateController.instructor.user.name}"
							disabled="true" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.instructor.email']}" />
						<p:inputText value="#{candidateController.instructor.user.email}"
							disabled="true" />
					</div>
					<h:panelGroup
						rendered="#{candidateController.registerSuccess eq true}">
						<div class="col s12">
							<p:spacer height="5" />
						</div>
						<div class="col s12 center">
							<p:commandButton value="#{i18n['lbl.init.new.register']}"
								update="@form"
								action="#{candidateController.createCandidateRegister(candidateController.instructor)}" />
						</div>
					</h:panelGroup>
				</div>
				<div class="row col m6 s12">
					<div class="col m6 s12">
						<p:selectBooleanCheckbox
							rendered="#{candidateController.userOffline()}"
							itemLabel="#{i18n['lbl.already.own.a.record']}"
							value="#{candidateController.registredUser}">
							<p:ajax process="@this" update="userDataForm" global="false" />
						</p:selectBooleanCheckbox>
						<p:spacer rendered="#{candidateController.userOnline()}"
							height="5" />
					</div>
					<div class="col m6 s12 right">
						<p:selectBooleanCheckbox
							itemLabel="#{i18n['lbl.ctvv.associated']}"
							value="#{candidateController.candidate.ctvvAssociated}">
							<p:ajax process="@this" update="userDataForm" global="false" />
						</p:selectBooleanCheckbox>
					</div>
				</div>
				<div class="row col s12">
					<p:spacer height="5" />
				</div>

				<div class="row">
					<h:panelGroup id="userDataForm"
						rendered="#{candidateController.registerSuccess eq false}">
						<div class="col m6 s12">
							<div class="row backgroundItem" style="margin-bottom: 5px;">
								<b><p:outputLabel value="#{i18n['lbl.personal.data']}" /></b>
							</div>
							<h:panelGroup
								rendered="#{candidateController.userOfflineOrUnregistred() or candidateController.userOnline()}">
								<div class="row">
									<div class="col m6 s12">
										<p:outputLabel value="#{i18n['lbl.name']} *" />
										<p:inputText value="#{candidateController.user.name}"
											disabled="#{candidateController.userOnline()}"
											required="true" maxlength="128"
											requiredMessage="#{messageUtilBean.requiredField('lbl.name')}" />
									</div>
									<div class="col m6 s12">
										<p:outputLabel value="#{i18n['lbl.email']} *" />
										<p:inputText value="#{candidateController.email}"
											disabled="#{candidateController.userOnline()}"
											validator="validatorEmail" required="true" maxlength="128"
											requiredMessage="#{messageUtilBean.requiredField('lbl.email')}" />
									</div>
								</div>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{candidateController.isRegisteredUser()}">
								<div class="row">
									<div class="col m6 s12">
										<p:outputLabel value="#{i18n['lbl.login']} *" />
										<p:inputText value="#{candidateController.email}"
											disabled="#{candidateController.userOnline()}"
											validator="validatorEmail" required="true" maxlength="128"
											requiredMessage="#{messageUtilBean.requiredField('lbl.email')}" />
									</div>
									<div class="col m6 s12">
										<p:outputLabel value="#{i18n['lbl.password']} *" />
										<p:password value="#{candidateController.userPwd}"
											required="true" id="password"
											requiredMessage="#{messageUtilBean.requiredField('lbl.password')}" />
									</div>
								</div>
							</h:panelGroup>
							<div class="row">
								<div class="col m6 s12">
									<p:outputLabel value="#{i18n['lbl.father.name']} *" />
									<p:inputText
										value="#{candidateController.candidate.fatherName}"
										required="true" maxlength="128"
										requiredMessage="#{messageUtilBean.requiredField('lbl.father.name')}" />
								</div>
								<div class="col m6 s12">
									<p:outputLabel value="#{i18n['lbl.mother.name']} *" />
									<p:inputText
										value="#{candidateController.candidate.motherName}"
										required="true" maxlength="128"
										requiredMessage="#{messageUtilBean.requiredField('lbl.mother.name')}" />
								</div>
							</div>
							<div class="row">
								<div class="col s4">
									<p:outputLabel value="#{i18n['lbl.rg']} *" />
									<p:inputText styleClass="right"
										value="#{candidateController.candidate.rg}" required="true"
										maxlength="128"
										requiredMessage="#{messageUtilBean.requiredField('lbl.rg')}" />
								</div>
								<div class="col s4">
									<p:outputLabel value="#{i18n['lbl.cpf']} *" />
									<p:inputText styleClass="right"
										value="#{candidateController.candidate.cpf}" required="true"
										maxlength="128" validator="validatorCPF"
										requiredMessage="#{messageUtilBean.requiredField('lbl.cpf')}" />
								</div>
								<div class="col s4">
									<p:outputLabel
										rendered="#{candidateController.candidate.ctvvAssociated}"
										value="#{i18n['lbl.card.number']} *" />
									<p:outputLabel
										rendered="#{!candidateController.candidate.ctvvAssociated}"
										value="#{i18n['lbl.card.number']}" />
									<p:inputText styleClass="right"
										value="#{candidateController.candidate.cardNumber}"
										maxlength="5"
										disabled="#{!candidateController.candidate.ctvvAssociated}"
										required="#{candidateController.candidate.ctvvAssociated}"
										requiredMessage="#{messageUtilBean.requiredField('lbl.card.number')}" />
								</div>
							</div>
							<div class="row">
								<div class="col m6 s12">
									<p:outputLabel value="#{i18n['lbl.phone']} *" />
									<p:inputText value="#{candidateController.phone}"
										required="true" maxlength="12" styleClass="celular right"
										converter="telefoneConverter"
										onfocus="aplicarMascarasDefault()"
										requiredMessage="#{messageUtilBean.requiredField('lbl.phone')}" />
								</div>
								<div class="col m6 s12">
									<p:outputLabel value="#{i18n['lbl.course.purpose']} *" />
									<p:selectOneMenu
										value="#{candidateController.candidate.courseType}"
										required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.course.purpose')}">
										<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
											itemValue="#{null}" />
										<f:selectItems var="varCourseType"
											value="#{enumBean.courseTypes()}"
											itemLabel="#{i18n[varCourseType]}"
											itemValue="#{varCourseType}" />
									</p:selectOneMenu>
								</div>
							</div>
							<div class="row">
								<h:panelGroup
									rendered="#{candidateController.userOfflineOrUnregistred()}">
									<div class="col m6 s12">
										<p:outputLabel value="#{i18n['lbl.password']} *" />
										<p:password id="pwd1" match="pwd2" required="true"
											value="#{candidateController.userPwd}"
											requiredMessage="#{messageUtilBean.requiredField('lbl.password')}"
											validatorMessage="#{i18n['error.password.match']}"
											maxlength="16">
										</p:password>
									</div>
									<div class="col m6 s12">
										<p:outputLabel value="#{i18n['lbl.password.confirmation']} *" />
										<p:password id="pwd2" required="true"
											value="#{candidateController.userPwdConfirm}" maxlength="16"
											requiredMessage="#{messageUtilBean.requiredField('lbl.password.confirmation')}"
											validatorMessage="#{i18n['error.password.easy']}">
											<f:validateRegex pattern="((?=.*\d)(?=.*[a-zA-Z]).{6,16})" />
										</p:password>
									</div>
								</h:panelGroup>
							</div>
						</div>
						<div class="col m6 s12">
							<div class="row backgroundItem" style="margin-bottom: 5px;">
								<b><p:outputLabel value="#{i18n['lbl.address.data']}" /></b>
							</div>
							<div class="col s12">
								<p:outputLabel value="#{i18n['lbl.address']} *" />
								<p:inputText
									value="#{candidateController.candidate.address.place}"
									maxlength="255" required="true"
									requiredMessage="#{messageUtilBean.requiredField('lbl.address')}" />
							</div>
							<div class="row">
								<div class="col s4">
									<p:outputLabel value="#{i18n['lbl.zipcode']} *" />
									<p:inputText
										value="#{candidateController.candidate.address.zipCode}"
										maxlength="128" styleClass="maskCep"
										onfocus="aplicarMascarasDefault()" required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.zipcode')}" />
								</div>
								<div class="col s6">
									<p:outputLabel value="#{i18n['lbl.complement']}" />
									<p:inputText
										value="#{candidateController.candidate.address.complement}"
										maxlength="128" />
								</div>
								<div class="col s2">
									<p:outputLabel value="#{i18n['lbl.number']}" />
									<p:inputText
										value="#{candidateController.candidate.address.number}"
										maxlength="15" />
								</div>
							</div>
							<div class="row">
								<div class="col s5">
									<p:outputLabel value="#{i18n['lbl.district']} *" />
									<p:inputText
										value="#{candidateController.candidate.address.district}"
										maxlength="128" required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.district')}" />
								</div>
								<div class="col s5">
									<p:outputLabel value="#{i18n['lbl.city']} *" />
									<p:inputText
										value="#{candidateController.candidate.address.city}"
										maxlength="128" required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.city')}" />
								</div>
								<div class="col s2">
									<p:outputLabel value="#{i18n['lbl.uf']} *" />
									<p:inputText
										value="#{candidateController.candidate.address.state}"
										maxlength="15" required="true"
										requiredMessage="#{messageUtilBean.requiredField('lbl.uf')}" />
								</div>
							</div>
							<div class="col s12">
									<p:captcha 
									secure="true" 
									language="pt_BR" 
									label="#{i18n['lbl.captcha']}"
									validatorMessage="#{i18n['captcha.validator.message']}" 
									converterMessage="#{i18n['captcha.converter.message']}"
									required="true"/>
								</div>
							<div class="col s12" style="margin-top: 18px">
								<p:commandButton styleClass="waves-effect waves-light btn"
									style="width: 100%" value="#{i18n['lbl.request.course']}"
									update="@form" action="#{candidateController.register}" />
							</div>
						</div>
					</h:panelGroup>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>