<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div class="row">
		<div class="col m6 s12">
			<p:outputLabel value="#{i18n['lbl.instructor']}" />
			<p:inputText
				value="#{courseController.candidate.instructor.user.name}"
				disabled="true" />
		</div>
		<div class="col m6 s12">
			<p:outputLabel value="#{i18n['lbl.instructor.email']}" />
			<p:inputText
				value="#{courseController.candidate.instructor.user.email}"
				disabled="true" />
		</div>
	</div>
	<div class="row">
		<div class="col m6 s12">
			<h:panelGroup id="userDataForm">
				<div class="row" style="margin-top: 12px">
					<p:outputLabel value="#{i18n['lbl.personal.data']}" />
					<p:separator />
				</div>
				<div class="row col s12 right">
					<p:selectBooleanCheckbox itemLabel="#{i18n['lbl.ctvv.associated']}"
						value="#{courseController.candidate.ctvvAssociated}"
						disabled="#{courseController.blockEditing(courseController.candidate)}">
						<p:ajax process="@this" update="userDataForm" global="false" />
					</p:selectBooleanCheckbox>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.name']}" />
						<p:inputText value="#{courseController.candidate.user.name}"
							disabled="true" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.email']}" />
						<p:inputText value="#{courseController.candidate.user.email}"
							disabled="true" />
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.father.name']} *" />
						<p:inputText value="#{courseController.candidate.fatherName}"
							required="true" maxlength="128"
							requiredMessage="#{messageUtilBean.requiredField('lbl.father.name')}"
							disabled="#{courseController.blockEditing(courseController.candidate)}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.mother.name']} *" />
						<p:inputText value="#{courseController.candidate.motherName}"
							required="true" maxlength="128"
							requiredMessage="#{messageUtilBean.requiredField('lbl.mother.name')}" 
							disabled="#{courseController.blockEditing(courseController.candidate)}" />
					</div>
				</div>
				<div class="row ">
					<div class="col s4">
						<p:outputLabel value="#{i18n['lbl.rg']} *" />
						<p:inputText value="#{courseController.candidate.rg}"
							required="true" maxlength="128"
							requiredMessage="#{messageUtilBean.requiredField('lbl.rg')}" 
							disabled="#{courseController.blockEditing(courseController.candidate)}" />
					</div>
					<div class="col s4">
						<p:outputLabel value="#{i18n['lbl.cpf']} *" />
						<p:inputText styleClass="maskCpf"
							value="#{courseController.candidate.cpf}" required="true"
							maxlength="128" validator="validatorCPF"
							onfocus="aplicarMascarasDefault()"
							requiredMessage="#{messageUtilBean.requiredField('lbl.cpf')}" 
							disabled="#{courseController.blockEditing(courseController.candidate)}" />
					</div>
					<div class="col s4">
						<p:outputLabel
							rendered="#{courseController.candidate.ctvvAssociated}"
							value="#{i18n['lbl.card.number']} *" />
						<p:outputLabel
							rendered="#{!courseController.candidate.ctvvAssociated}"
							value="#{i18n['lbl.card.number']}" />
						<p:inputText styleClass="right"
							value="#{courseController.candidate.cardNumber}" maxlength="5"
							disabled="#{!courseController.candidate.ctvvAssociated or courseController.blockEditing(courseController.candidate)}"
							required="#{courseController.candidate.ctvvAssociated}"
							requiredMessage="#{messageUtilBean.requiredField('lbl.card.number')}"  />
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.phone']} *" />
						<p:inputText value="#{courseController.phone}" required="true"
							maxlength="12" styleClass="celular" converter="telefoneConverter"
							onfocus="aplicarMascarasDefault()"
							requiredMessage="#{messageUtilBean.requiredField('lbl.phone')}" 
							disabled="#{courseController.blockEditing(courseController.candidate)}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.course.purpose']} *" />
						<p:selectOneMenu
							value="#{courseController.candidate.courseType}"
							required="true"
							requiredMessage="#{messageUtilBean.requiredField('lbl.course.purpose')}"
							disabled="#{courseController.blockEditing(courseController.candidate)}" >
							<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
								itemValue="#{null}" />
							<f:selectItems var="varStudentType"
								value="#{enumBean.courseTypes()}"
								itemLabel="#{i18n[varStudentType]}"
								itemValue="#{varStudentType}" />
						</p:selectOneMenu>
					</div>
				</div>
			</h:panelGroup>
		</div>
		<div class="col m6 s12">
			<div class="row" style="margin-top: 12px">
				<p:outputLabel value="#{i18n['lbl.address.data']}" />
				<p:separator />
			</div>
			<div class="col s12">
				<p:outputLabel value="#{i18n['lbl.address']} *" />
				<p:inputText value="#{courseController.candidate.address.place}"
					maxlength="255" required="true"
					requiredMessage="#{messageUtilBean.requiredField('lbl.address')}" 
					disabled="#{courseController.blockEditing(courseController.candidate)}" />
			</div>
			<div class="row">
				<div class="col s4">
					<p:outputLabel value="#{i18n['lbl.zipcode']} *" />
					<p:inputText
						value="#{courseController.candidate.address.zipCode}"
						maxlength="128" styleClass="maskCep"
						onfocus="aplicarMascarasDefault()" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.zipcode')}" 
						disabled="#{courseController.blockEditing(courseController.candidate)}" />
				</div>
				<div class="col s6">
					<p:outputLabel value="#{i18n['lbl.complement']}" />
					<p:inputText
						value="#{courseController.candidate.address.complement}"
						maxlength="128" 
						disabled="#{courseController.blockEditing(courseController.candidate)}" />
				</div>
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.number']}" />
					<p:inputText value="#{courseController.candidate.address.number}"
						maxlength="15" 
						disabled="#{courseController.blockEditing(courseController.candidate)}" />
				</div>
			</div>
			<div class="row">
				<div class="col s5">
					<p:outputLabel value="#{i18n['lbl.district']} *" />
					<p:inputText
						value="#{courseController.candidate.address.district}"
						maxlength="128" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.district')}" 
						disabled="#{courseController.blockEditing(courseController.candidate)}" />
				</div>
				<div class="col s5">
					<p:outputLabel value="#{i18n['lbl.city']} *" />
					<p:inputText value="#{courseController.candidate.address.city}"
						maxlength="128" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.city')}" 
						disabled="#{courseController.blockEditing(courseController.candidate)}" />
				</div>
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.state']} *" />
					<p:inputText value="#{courseController.candidate.address.state}"
						maxlength="15" required="true"
						requiredMessage="#{messageUtilBean.requiredField('lbl.state')}" 
						disabled="#{courseController.blockEditing(courseController.candidate)}" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m6 s12">
			<div class="row" style="margin-top: 12px">
				<p:outputLabel value="#{i18n['lbl.theoretical.test.data']}" />
				<p:separator />
			</div>
			<div class="row">
				<div class="col s3">
					<div class="row" style="margin-top: 17px;">
						<p:selectBooleanCheckbox itemLabel="#{i18n['lbl.psychological']}"
							value="#{courseController.candidate.psychologicalReport}" 
							disabled="true" />
					</div>
				</div>
				<div class="col s5">
					<div class="row" style="margin-top: 17px;">
						<p:selectBooleanCheckbox
							itemLabel="#{i18n['lbl.criminal.record']}"
							value="#{courseController.candidate.criminalRecord}" 
							disabled="true" />
					</div>
				</div>
				<div class="col s4">
					<p:outputLabel value="#{i18n['lbl.receipt.date']}" />
					<p:calendar
						value="#{courseController.candidate.receiptReportsDate}"
						pattern="dd-MM-yyyy" mask="true"  navigator="true"
						effect="fold" 
						disabled="true" />
				</div>
			</div>
			<div class="row">
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.note']}" />
					<p:inputText styleClass="commanumber right"
						value="#{courseController.candidate.theoreticalNote}"
						disabled="true" >
						<f:convertNumber maxFractionDigits="1" />
					</p:inputText>
				</div>
				<div class="col s2">
					<p:outputLabel value="#{i18n['lbl.punctuation']}" />
					<p:inputText styleClass="right" id="totalPunctuation"
						value="#{courseController.candidate.punctuationTheoretical}"
						disabled="true" />
				</div>
				<div class="col s4">
					<p:outputLabel value="#{i18n['lbl.realization.date']}" />
					<p:calendar value="#{courseController.candidate.realizationDate}"
						pattern="dd-MM-yyyy" mask="true"  navigator="true"
						effect="fold" 
						disabled="true" />
				</div>
				<div class="col s4">
					<div class="row" style="margin-top: 17px;">
						<p:selectBooleanCheckbox
							itemLabel="#{i18n['lbl.candidate.aproved']}"
							value="#{courseController.candidate.unable}" 
							disabled="true" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<p:outputLabel value="#{i18n['lbl.observations']}" />
					<p:inputText value="#{courseController.candidate.observations}"
						maxlength="200" 
						disabled="true" />
				</div>
			</div>
		</div>
		<div class="col m6 s12">
			<div class="row" style="margin-top: 12px">
				<p:outputLabel value="#{i18n['lbl.practical.tests.data']}" />
				<p:separator />
			</div>
			<div class="row">
				<h:panelGroup id="weaponFormInsertUpdate">
					<div class="col s12">
						<div class="row">
							<div class="col s6 center border-left">
								<p:outputLabel value="#{i18n['lbl.gun']}" />
							</div>
							<div class="col s2 center border-left">
								<p:outputLabel value="#{i18n['lbl.caliber']}" />
							</div>
							<div class="col s2 center border-left">
								<p:outputLabel value="#{i18n['lbl.note']}" />
							</div>
							<div class="col s2 center border-left">
								<p:outputLabel value="#{i18n['lbl.punctuation']}" />
							</div>
						</div>
						<div style="width: 100%; margin-top: -5px;">
							<p:separator />
						</div>
						<h:panelGroup
							rendered="#{courseController.hasRegisteredWeapon()}"
							id="weaponList">
							<ui:repeat var="weaponModel"
								value="#{courseController.candidate.weapons}">
								<div class="row">
									<div class="col s6 border-left">
										<p:outputLabel value="#{i18n[weaponModel.weaponType]}" />
									</div>
									<div class="col s2 border-left">
										<p:outputLabel value="#{weaponModel.caliber}" />
									</div>
									<div class="col s2 center border-left">
										<p:outputLabel value="#{weaponModel.punctuationPractice}" >
											<f:converter converterId="numberWithCommaConverter" />
										</p:outputLabel>
									</div>
									<div class="col s2 center border-left">
										<p:outputLabel value="#{weaponModel.practiceNote}" />
									</div>
								</div>
							</ui:repeat>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{courseController.isntRegisteredWeapon()}">
							<div class="row">
								<div class="col s12 center">
									<p:outputLabel value="#{i18n['lbl.has.no.weapon.registered']}" />
								</div>
							</div>
						</h:panelGroup>
					</div>
				</h:panelGroup>
			</div>
		</div>
	</div>
</f:view>