<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formCourses">
				<div class="row">
					<p:growl  id="courseMessages" closable="true" />
				</div>
				<h:panelGroup id="detailsFormCourse"
					rendered="#{courseController.closeFormDetail eq 0}">
					<ui:include src="/pages/course/_formCourse.xhtml" />
					<h:panelGroup rendered="#{courseController.editingMode}">
						<div class="row"
							style="margin-left: auto; margin-right: auto; max-width: 50%">
							<h:panelGroup
								rendered="#{!courseController.blockEditing(courseController.candidate)}">
								<div class="col m6 s12">
									<p:commandButton action="#{courseController.update()}"
										value="#{i18n['act.update']}" process="@form" update="@form"
										style="width: 100%" oncomplete="aplicarMascarasDefault()"
										styleClass="waves-effect waves-light btn" />
								</div>
								<div class="col m6 s12">
									<p:commandButton action="#{courseController.resetForm()}"
										value="#{i18n['act.cancel']}" style="width: 100%"
										oncomplete="aplicarMascarasDefault()" update=":formCourses"
										process="@this" global="false"
										styleClass="waves-effect waves-light btn">
										<p:resetInput target=":formCourses" />
									</p:commandButton>
								</div>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{courseController.blockEditing(courseController.candidate)}">
								<div
									style="margin-left: auto; margin-right: auto; max-width: 50%">
									<p:commandButton action="#{courseController.resetForm()}"
										value="#{i18n['lbl.close']}" style="width: 100%"
										oncomplete="aplicarMascarasDefault()" update=":formCourses"
										process="@this" global="false"
										styleClass="waves-effect waves-light btn">
										<p:resetInput target=":formCourses" />
									</p:commandButton>
								</div>
							</h:panelGroup>
						</div>
					</h:panelGroup>
				</h:panelGroup>
				<div class="row">
					<p:dataTable paginatorPosition="top" id="coursesTable"
						var="courseTableObject" dynamic="true" paginator="true"
						lazy="true" emptyMessage="#{i18n['msg.nenhum.registro']}"
						value="#{courseController.candidateList}"
						rows="#{sessionBean.dataTableRows}" pageLinks="4"
						rowsPerPageTemplate="5,10,20,30"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

						<f:facet name="header">
							<div class="subTitulo">
								<h:outputText value="#{i18n['lbl.courses.registred']}"
									class="labelSubTitle" />
							</div>
						</f:facet>

						<p:column headerText="#{i18n['lbl.actions']}" width="80">
							<center>
								<p:commandButton styleClass="btn_grid"
									title="#{i18n['act.edit']}"
									rendered="#{!courseController.blockEditing(courseTableObject)}"
									action="#{courseController.preEdit(courseTableObject.id)}"
									process="@this" oncomplete="aplicarMascarasDefault()"
									icon="ui-icon-pencil" update=":formCourses" />
								<p:commandButton styleClass="btn_grid"
									title="#{i18n['act.view.information']}"
									rendered="#{courseController.blockEditing(courseTableObject)}"
									action="#{courseController.preEdit(courseTableObject.id)}"
									process="@this" oncomplete="aplicarMascarasDefault()"
									icon="ui-icon-info" update=":formCourses" />
								<p:commandButton styleClass="btn_grid"
									title="#{i18n['act.delete']}"
									rendered="#{!courseController.blockRemoval(courseTableObject)}"
									action="#{courseController.openDelete(courseTableObject.id)}"
									oncomplete="aplicarMascarasDefault()" process="@this"
									icon="ui-icon-trash" update=":formCourses, coursesTable" />
							</center>
						</p:column>

						<p:column headerText="#{i18n['lbl.inscription.date']}"
							sortBy="#{courseTableObject.creationDate}" width="90">
							<h:outputText
								value="#{courseTableObject.creationDateToPattern('dd/MM/yyyy')}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.course.purpose']}"
							sortBy="#{courseTableObject.courseType}" width="80">
							<h:outputText value="#{i18n[courseTableObject.courseType]}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.instructor']}"
							sortBy="#{courseTableObject.instructor.user.name}" width="200">
							<h:outputText value="#{courseTableObject.instructor.user.name}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.note.theory']}"
							styleClass="center" sortBy="#{courseTableObject.theoreticalNote}"
							width="90">
							<h:outputText value="#{courseTableObject.theoreticalNote}">
								<f:converter converterId="numberWithCommaConverter" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{i18n['lbl.points.theory']}"
							styleClass="center"
							sortBy="#{courseTableObject.punctuationTheoretical}" width="90">
							<h:outputText value="#{courseTableObject.punctuationTheoretical}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.realization.date']}"
							sortBy="#{courseTableObject.realization}" width="110">
							<h:outputText
								value="#{courseTableObject.realizationDateToPattern('dd/MM/yyyy')}" />
						</p:column>

						<p:column headerText="#{i18n['lbl.situation']}"
							sortBy="#{courseTableObject.situation}" width="90">
							<h:outputText value="#{i18n[courseTableObject.situation]}" />
						</p:column>
					</p:dataTable>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>