<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)" id="dialogFollowEvent"
		widgetVar="dialogFollowEvent" resizable="false" responsive="true"
		closable="false" modal="true" appendTo="@(body)"
		header="#{i18n['lbl.follow.event']}" closeOnEscape="true">

		<div class="row">
			<div class="col-md-24">
				<h:form id="formFollowEvent" style="padding: 0">
					<div class="col-md-24">
						<p:growl  closable="true" />
					</div>
					<div class="col-md-24">
							<p:outputLabel value="#{i18n['lbl.event']}" />
							<p:inputText value="#{eventController.transientEvent.name}"
								readonly="true">
							</p:inputText>
						</div>
					<div class="col-md-24">
						<p:outputLabel value="#{i18n['lbl.alert.type']} *" />
						<p:selectOneMenu value="#{eventController.alertType}">
							<p:ajax listener="#{eventController.onAlertTypeChange()}"
								process="@this" update="@form" />
							<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
								itemValue="" />
							<f:selectItems var="varAlertType"
								value="#{enumBean.alertTypes()}"
								itemLabel="#{i18n[varAlertType]}" itemValue="#{varAlertType}" />
						</p:selectOneMenu>
					</div>
					<h:panelGroup id="numDayBefore"
						rendered="#{eventController.receiveAlert()}">
						<div class="col-md-24">
							<p:outputLabel value="#{i18n['lbl.days.before']} *" />
							<p:inputText value="#{eventController.alertDays}" maxlength="3"
								required="true" requiredMessage="#{messageUtilBean.requiredField('lbl.days.before')}">
							</p:inputText>
						</div>
					</h:panelGroup>
					<div class="col-md-24">
						<p:separator />
					</div>
					<div class="col-md-24">
						<div style="float: right">
							<p:commandButton value="#{i18n['lbl.send']}"
								action="#{eventController.confirmFollowEvent()}"
								style="margin-right:10px" update="@form" />
							<p:commandButton global="false"
								actionListener="#{eventController.cancelFollowEvent()}"
								value="#{i18n['lbl.cancel']}"
								onclick="PF('dialogFollowEvent').hide()" />
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</p:dialog>
</f:view>