<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog positionType="@(absolute)" id="dialogEventFilter"
		widgetVar="dialogEventFilter" resizable="false" responsive="true"
		closable="false" modal="true" appendTo="@(body)"
		header="#{i18n['lbl.filter.events']}" closeOnEscape="true">

		<h:form id="formEventFilter" style="padding: 0">
			<div class="row">
				<div class="col m6 s12 padding-left-off">
					<p:outputLabel value="#{i18n['lbl.name']}" />
					<p:inputText value="#{eventController.filterName}" maxlength="128" />
				</div>
				<div class="col m6 s12 padding-right-off">
					<p:outputLabel value="#{i18n['lbl.type']}" />
					<p:selectOneMenu value="#{eventController.filterType}">
						<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
							itemValue="" />
						<f:selectItems var="varEventType" value="#{enumBean.eventTypes()}"
							itemLabel="#{i18n[varEventType]}" itemValue="#{varEventType}" />
					</p:selectOneMenu>
				</div>
			</div>
			<div class="row">
				<p:outputLabel value="#{i18n['lbl.club']}" />
				<p:autoComplete value="#{eventController.filterClub}"
					minQueryLength="3" queryDelay="1000"
					placeholder="#{i18n['lbl.digite.o.nome.do.clube']}"
					completeMethod="#{eventController.clubFilter}" var="selectClubVar"
					itemLabel="#{selectClubVar.name}" itemValue="#{selectClubVar}"
					forceSelection="true" converter="clubConverter">
				</p:autoComplete>
			</div>
			<div class="row">
				<div class="col m6 s12 padding-left-off">
					<p:outputLabel value="#{i18n['lbl.day']}" />
					<p:calendar value="#{eventController.filterDayFrom}"
						pattern="dd-MM-yyyy" mask="true" navigator="true" effect="fold" />
				</div>
				<div class="col m6 s12 padding-right-off">
					<p:outputLabel value="#{i18n['lbl.to']}" />
					<p:calendar value="#{eventController.filterDayTo}"
						pattern="dd-MM-yyyy" mask="true" navigator="true" effect="fold" />
				</div>
			</div>
			<div class="row">
				<p:separator />
			</div>
			<div class="row">
				<div style="float: right">
					<p:commandButton value="#{i18n['lbl.filter']}"
						action="#{eventController.searchEvents()}"
						styleClass="waves-effect waves-light btn" update="@form formListEvents" 
						oncomplete="PF('dialogEventFilter').hide()"/>
					<p:commandButton type="button" value="#{i18n['lbl.cancel']}"
						onclick="PF('dialogEventFilter').hide()"
						styleClass="waves-effect waves-light btn" />
				</div>
			</div>
		</h:form>
	</p:dialog>
</f:view>