<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<div class="row clear" />
	<div class="row">
		<div class="col-md-10">
			<p:outputLabel value="#{i18n['lbl.name']} *" />
			<p:inputText value="#{eventController.event.name}" maxlength="128"
				required="#{eventController.editingMode}"
				requiredMessage="#{messageUtilBean.requiredField('lbl.name')}" />
		</div>
		<div class="col-md-1">
			<p:spacer height="5" />
		</div>
		<div class="col-md-9">
			<p:outputLabel value="#{i18n['lbl.club']} *" />
			<p:autoComplete value="#{eventController.event.club}"
				minQueryLength="3" queryDelay="1000"
				placeholder="#{i18n['lbl.digite.o.nome.do.clube']}"
				completeMethod="#{eventController.clubFilter}" var="selectClubVar"
				itemLabel="#{selectClubVar.name}" itemValue="#{selectClubVar}"
				forceSelection="true" converter="clubConverter">
			</p:autoComplete>
		</div>
		<div class="col-md-1">
			<p:spacer height="5" />
		</div>
		<div class="col-md-3">
			<p:outputLabel value="#{i18n['lbl.type']} *" />
			<p:selectOneMenu value="#{eventController.event.eventType}"
				required="#{eventController.editingMode}"
				requiredMessage="#{messageUtilBean.requiredField('lbl.type')}">
				<f:selectItem itemLabel="#{i18n['lbl.select.dot.dot.dot']}"
					itemValue="" />
				<f:selectItems var="varEventType" value="#{enumBean.eventTypes()}"
					itemLabel="#{i18n[varEventType]}" itemValue="#{varEventType}" />
			</p:selectOneMenu>
		</div>
	</div>
	<br />
	<div class="row clear" />
	<div class="row">
		<div class="col-md-16">
			<p:fieldset id="daysGroup"
				legend="#{i18n['lbl.days.and.participant']}">
				<div class="col-md-4">
					<p:outputLabel value="#{i18n['lbl.day']} *" />
					<p:calendar value="#{eventController.dayEvent}"
						pattern="dd-MM-yyyy" mask="true"  navigator="true"
						effect="fold" />
				</div>
				<div class="col-md-1">
					<p:spacer height="5" />
				</div>
				<div class="col-md-3">
					<p:outputLabel value="#{i18n['lbl.hour.start']} *" />
					<p:calendar value="#{eventController.hourStart}" pattern="HH:mm"
						timeOnly="true" mask="true"  />
				</div>
				<div class="col-md-1">
					<p:spacer height="5" />
				</div>
				<div class="col-md-3">
					<p:outputLabel value="#{i18n['lbl.hour.end']} *" />
					<p:calendar value="#{eventController.hourEnd}" pattern="HH:mm"
						timeOnly="true" mask="true"  />
				</div>
				<div class="col-md-1">
					<p:spacer height="5" />
				</div>
				<div class="col-md-11">
					<div class="col-md-24">
						<p:spacer height="5" />
					</div>
					<div class="col-md-24">
						<p:commandButton icon="ui-icon-plus" process="daysGroup"
							update="daysList daysGroup :formEvents:eventMessages"
							action="#{eventController.addNewDay()}" />
					</div>
				</div>
				<div class="col-md-24">
					<p:dataList value="#{eventController.event.eventDays}" var="varEventDay"
						id="daysList" emptyMessage="#{i18n['lbl.insert.event.date']}"
						type="unordered" itemType="none"
						styleClass="ui-widget-content-dataList">
						<div class="col-md-24">
							<div class="col-md-10">
								<p:commandButton
									action="#{eventController.removeEventDay(varEventDay)}"
									icon="ui-icon-trash" process="daysList"
									update="daysList :formEvents:eventMessages"
									style="margin-right:10px" />
								<h:outputText
									value="#{varEventDay.dayToPattern('dd MMM yyyy')} " />
								<h:outputText value="#{i18n['lbl.of']} " />
								<h:outputText value="#{varEventDay.startToPattern('HH:mm')} " />
								<h:outputText value="#{i18n['lbl.at']} " />
								<h:outputText value="#{varEventDay.endToPattern('HH:mm')}" />
							</div>
							<div class="col-md-13">
								<p:autoComplete value="#{varEventDay.participant}"
									minQueryLength="3" queryDelay="1000"
									placeholder="#{i18n['lbl.digite.o.tipo.de.participante']}"
									completeMethod="#{eventController.participantFilter}"
									var="selectParticipantVar" style="margin-top: 4px;"
									itemLabel="#{selectParticipantVar.key()}"
									itemValue="#{selectParticipantVar}" forceSelection="true"
									converter="participantConverter">
								</p:autoComplete>
							</div>
							<div class="col-md-1">
								<p:commandButton icon="ui-icon-plus" process="daysList"
									update="daysList :formEvents:eventMessages"
									action="#{eventController.addNewParticipant(varEventDay)}" />
							</div>
						</div>
						<div class="col-md-1">
							<p:spacer height="5" />
						</div>
						<div class="col-md-23">
							<p:dataList value="#{varEventDay.participations}"
								var="varDayParticipations" id="participationList"
								type="unordered" itemType="none"
								emptyMessage="#{i18n['lbl.insert.participants.to.day']}"
								styleClass="ui-widget-content-dataList">
								<div class="col-md-24">
									<p:commandButton
										action="#{eventController.removeParticipation(varEventDay, varDayParticipations)}"
										icon="ui-icon-trash" process="participationList"
										update="participationList :formEvents:eventMessages"
										style="margin-right:10px" />
									<h:outputText value="#{varDayParticipations.type.name} " />
									<h:outputText value=" - " />
									<h:outputText value="#{varDayParticipations.type.description} " />
								</div>
							</p:dataList>
						</div>
					</p:dataList>
				</div>
			</p:fieldset>
		</div>
		<div class="col-md-1">
			<p:spacer height="5" />
		</div>
		<div class="col-md-7">
			<p:fieldset id="modalityGroup"
				legend="#{i18n['lbl.event.modalities']}">
				<div class="col-md-22">
					<p:outputLabel value="#{i18n['lbl.event.modality']} *" />
					<p:autoComplete value="#{eventController.modality}"
						minQueryLength="3" queryDelay="1000"
						placeholder="#{i18n['lbl.digite.o.tipo.de.modalidade']}"
						completeMethod="#{eventController.modalityFilter}"
						var="selectModalityVar" itemLabel="#{selectModalityVar.key()}"
						itemValue="#{selectModalityVar}" forceSelection="true"
						converter="modalityConverter">
					</p:autoComplete>
				</div>
				<div class="col-md-2">
					<div class="col-md-24">
						<p:spacer height="5" />
					</div>
					<div class="col-md-24">
						<p:commandButton icon="ui-icon-plus" process="modalityGroup"
							update="modalityGroup modalityList :formEvents:eventMessages"
							action="#{eventController.addEventModality()}" />
					</div>
				</div>
				<div class="col-md-24">
					<p:dataList value="#{eventController.event.modalities}" var="varModality"
						id="modalityList" emptyMessage="#{i18n['lbl.insert.modality']}"
						type="unordered" itemType="none"
						styleClass="ui-widget-content-dataList">
						<p:commandButton
							action="#{eventController.removeModality(varModality)}"
							icon="ui-icon-trash" process="modalityList"
							update="modalityList :formEvents:eventMessages"
							style="margin-right:10px" />
						<h:outputText value="#{varModality.modality.name}" />
						<h:outputText value=" - " />
						<h:outputText value="#{varModality.modality.description} " />
					</p:dataList>
				</div>
			</p:fieldset>
		</div>
	</div>
</f:view>