<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form>
				<div class="row center">
					<center>
						<img class="eventImageList"
							src="#{clubController.clubImage(eventController.eventDetail.club)}">
						</img>
					</center>
					<div class="col s12 center">
						<h5>#{eventController.eventDetail.name.toUpperCase()}</h5></div>
				</div>
				<div class="row center">
					<h5>#{eventController.eventDetail.club.name.toUpperCase()}</h5>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.days']}:" />
						<br />
						<h:outputText escape="false"
							value="#{eventController.eventDetail.days}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.modalitys']}:" />
						<br />
						<h:outputText escape="false"
							value="#{eventController.eventDetail.formattedModalities()}" />
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.address']}:" />
						<br />
						<h:outputText escape="false"
							value="#{eventController.eventDetail.formattedAddress()}" />
					</div>
					<div class="col m6 s12">
						<p:outputLabel value="#{i18n['lbl.contacts']}" />
						<br />
						<h:outputText escape="false"
							value="#{eventController.eventDetail.formattedContacts()}" />
					</div>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>