<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formListEvents">
				<div class="row col s12">
					<p:commandButton value="#{i18n['lbl.filter']}"
						styleClass="waves-effect waves-light btn btn-flat ps-blue right"
						onclick="PF('dialogEventFilter').show()" 
						type="button" />
				</div>
				<div class="row">
					<ui:repeat varStatus="eventModelIndex" var="nextEventModel"
						value="#{eventController.nextEvents}">
						<div class="hide-on-med-and-up">
							<ui:include src="/pages/event/_eventContent.xhtml" />
						</div>
						<div class="col m6 s12 hide-on-med-and-down">
							<ui:include src="/pages/event/_eventContent.xhtml" />
						</div>
						<h:panelGroup rendered="#{eventModelIndex.odd}">
							<div class="row">
								<p:spacer height="5" />
							</div>
						</h:panelGroup>
					</ui:repeat>
				</div>
			</h:form> 
			<ui:include src="/pages/event/_dialogEventFilter.xhtml" />
		</ui:define>
	</ui:composition>
</f:view>