<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-///W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/templates/default.xhtml">
		<ui:define name="body">
			<h:form id="formEvents">
				<div class="row">
					<div style="float: left;">
						<h:outputText styleClass="col-md-24" style="font-size: 1.6em"
							value="#{i18n['lbl.events']}" />
					</div>
					<h:panelGroup rendered="#{!eventController.editingMode}">
						<div style="float: left; margin-left: 10px">
							<p:menuButton value="#{i18n['lbl.options']}">
								<p:menuitem action="#{eventController.initCreate()}"
									value="#{i18n['lbl.new.register']}" icon="ui-icon-document"
									update="@form" resetValues="true" global="false" />
							</p:menuButton>
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{eventController.editingMode}">
						<div style="float: left; margin-left: 10px">
							<p:commandButton action="#{eventController.insert()}"
								rendered="#{eventController.isNewRegister()}"
								value="#{i18n['act.save']}" icon="ui-icon-plus" process="@form"
								update="@form" style="margin-right:10px"
								oncomplete="aplicarMascarasDefault()" />
							<p:commandButton action="#{eventController.update()}"
								rendered="#{eventController.isNotNewRegister()}"
								value="#{i18n['act.update']}" icon="ui-icon-disk"
								process="@form" update="@form" style="margin-right:10px"
								oncomplete="aplicarMascarasDefault()" />
						</div>
						<div style="float: left; margin-left: 10px">
							<p:commandButton action="#{eventController.resetForm()}"
								value="#{i18n['act.cancel']}" icon="ui-icon-cancel"
								oncomplete="aplicarMascarasDefault()" update=":formEvents"
								process="@this" global="false">
								<p:resetInput target=":formEvents" />
							</p:commandButton>
						</div>
					</h:panelGroup>
				</div>
				<div class="row">
					<div class="col-md-24">
						<p:growl  id="eventMessages" closable="true" />
					</div>
				</div>
				<p:accordionPanel id="detailsFormEvent"
					activeIndex="#{eventController.closeFormDetail}">
					<p:tab title="">
						<ui:include src="/pages/event/_formEvent.xhtml" />
					</p:tab>
				</p:accordionPanel>
				<div class="row">
					<br />
					<div class="col-md-24">
						<p:dataTable paginatorPosition="top" id="eventsTable"
							var="eventTableObject" dynamic="true" paginator="true" lazy="true"
							emptyMessage="#{i18n['msg.nenhum.registro']}"
							value="#{eventController.eventList}"
							rows="#{sessionBean.dataTableRows}" pageLinks="4"
							rowsPerPageTemplate="5,10,20,30" liveResize="true"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<f:facet name="header">
								<div class="subTitulo">
									<h:outputText value="#{i18n['lbl.events.registred']}"
										class="labelSubTitle" />
								</div>
							</f:facet>

							<p:column headerText="#{i18n['lbl.actions']}">
								<center>
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.edit']}"
										action="#{eventController.preEdit(eventTableObject.id)}"
										process="@this" oncomplete="aplicarMascarasDefault()"
										icon="ui-icon-pencil" update=":formEvents" />
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.follow.event']}"
										action="#{eventController.openFollowEvent(eventTableObject)}"
										process="@this" oncomplete="aplicarMascarasDefault()"
										icon="ui-icon-signal-diag" update=":formEvents" />
									<p:commandButton styleClass="btn_grid"
										title="#{i18n['act.delete']}"
										action="#{eventController.openDelete(eventTableObject.id)}"
										oncomplete="aplicarMascarasDefault()" process="@this"
										icon="ui-icon-trash" update=":formEvents, eventsTable" />
								</center>
							</p:column>
							
							<p:column headerText="#{i18n['lbl.days']}" sortBy="#{C.days}">
								<h:outputText escape="false" value="#{eventTableObject.days}" />
							</p:column>
							
							<p:column headerText="#{i18n['lbl.name']}" sortBy="#{C.name}">
								<h:outputText value="#{eventTableObject.name}" />
							</p:column>
							
							<p:column headerText="#{i18n['lbl.club']}" sortBy="#{C.club.name}">
								<h:outputText value="#{eventTableObject.club.name}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.type']}" sortBy="#{C.eventType}">
								<h:outputText value="#{i18n[eventTableObject.eventType]}" />
							</p:column>

							<p:column headerText="#{i18n['lbl.situation']}" sortBy="#{C.situation}">
								<h:outputText value="#{i18n[eventTableObject.situation]}" />
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</h:form>
			<ui:include src="/pages/event/_dialogFollowEvent.xhtml" />
		</ui:define>
	</ui:composition>
</f:view>